body{
	background: #fff;
}
/*header*/
header{
	background: #150532;
	width: 100%;
	position: fixed;
	z-index: 99999;
}
header .header_content{
	max-width: 1130px;
	margin: 0 auto;
	padding: 25px 20px;
	position: relative;
	text-align: center;
}
header .header_content h1{
	display: inline-block;
}
header .header_content h1 >a{
	display: inline-block;
}
.logo{
	width: 214px;
	height: auto;
}
/*end of header*/

.container{
	text-align: center;
	max-width: 1140px;
	margin: 0 auto;
	padding: 100px 0;
}

/*footer*/
footer{
	background: #150532;
	width: 100%;
	text-align: center;
	padding: 20px 0;
}
footer .footer_ul_01{
	width: 680px;
	margin: 0 auto 60px auto;
}
footer .footer_ul_02{
	width: 1000px;
	width: 53%;
	margin: 0 auto;
}
footer .footer_ul_01 h3{
	font-size: 24px;
	padding: 0 0 10px 0;
}
footer .footer_ul_01 h3,
footer .footer_ul_01 p{
	text-align: left;
	font-size: 24px;
	line-height: 1;
	color: #fff;
}
footer .footer_ul_02 h3{
	font-size: 24px;
	line-height: 1;
	color: #fff;
}
footer .footer_ul_02 p{
	font-size: 16px;
	line-height: 1;
	color: #fff;
	padding: 5px 0;
}
footer .social{
	margin: 100px 0 30px 0;
}
footer .instagram{
	margin: 0 40px;
}
footer .txt_copyright_01{
	font-size: 16px;
	line-height: 1;
	color: #fff;
}
/*end of footer*/

/*.search_for*/
.search_for{
	width: 365px;
	width: 38%;
	display: inline-block;
	color: #150532;
	line-height: 1;
	font-size: 22px;
	font-weight: bold;
	padding: 20px 0;
	border: 1px solid #150532;
	background: linear-gradient(to right, #150532 50%, white 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all .5s ease-out;
}
.search_for:hover{
	color: #fff;
  	background-position: left bottom;
}
.search_for .ico_right{
	display: none;
}
.search_for:hover .ico_right{
	display: inline-block;
}
.search_for:hover .ico_right_hover{
	display: none;
}
/*end of .search_for*/


/*For SP*/
@media only screen and (max-width: 767px){
	/*header*/
	header{
		background: #150532;
		width: 100%;
		position: fixed;
		z-index: 99999;
	}
	header .header_content{
		max-width: 100%;
		margin: 0 auto;
		padding: .25rem .20rem;
		position: relative;
		text-align: center;
	}
	header .header_content h1{
		display: inline-block;
	}
	header .header_content h1 >a{
		display: inline-block;
	}
	.logo{
		width: 2.14rem;
		height: auto;
	}
	/*end of header*/

	/*footer*/
	footer{
		background: #150532;
		width: 100%;
		text-align: center;
		padding: .20rem 0;
	}
	footer .footer_ul_01{
		width: 100%;
		margin: 0 auto .60rem auto;
		padding: 0 .25rem;
	}
	footer .footer_ul_02{
		width: 100%;
		margin: 0 auto;
	}
	footer .footer_ul_01 h3{
		font-size: .24rem;
		padding: 0 0 .10rem 0;
	}
	footer .footer_ul_01 h3,
	footer .footer_ul_01 p{
		text-align: left;
		font-size: .24rem;
		line-height: 1;
		color: #fff;
	}
	footer .footer_ul_02 h3{
		font-size: .24rem;
		line-height: 1;
		color: #fff;
	}
	footer .footer_ul_02 p{
		font-size: .16rem;
		line-height: 1;
		color: #fff;
		padding: .05rem 0;
	}
	footer .social{
		margin: 1.00rem 0 .30rem 0;
	}
	footer .instagram{
		margin: 0 .40rem;
	}
	footer .txt_copyright_01{
		font-size: .16rem;
		line-height: 1;
		color: #fff;
	}
	footer .social img{
		width: .70rem;
		height: auto;
	}
	/*.search_for*/
	.search_for{
		width: 3.65rem;
		display: inline-block;
		color: #150532;
		line-height: 1;
		font-size: .24rem;
		font-weight: bold;
		padding: .20rem 0;
		border: 1px solid #150532;
		background: linear-gradient(to right, #150532 50%, white 50%);
		background-size: 200% 100%;
		background-position: right bottom;
		transition: all .5s ease-out;
	}
	.search_for:hover{
		color: #fff;
	  	background-position: left bottom;
	}
	.search_for .ico_right{
		display: none;
	}
	.search_for:hover .ico_right{
		display: inline-block;
	}
	.search_for:hover .ico_right_hover{
		display: none;
	}
	/*end of .search_for*/
/*end of footer*/
}