/*#entry*/
#entry{
	background: #d3c9e7;
	padding: 100px 0;
}
#entry .container{
	width: 85%;
	background: #fff;
	border-radius: 5px;
	padding: 0;
	padding: 50px 0;
}
#entry table{
	width: 80%;
	margin: 0 auto;
	text-align: left;
	padding: 0 0 30px 0px;
}
#entry table tr td{
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
	padding: 20px 0;
	vertical-align: top;
}
#entry table tr td:nth-child(odd){
	width: 25%;
}
#entry table tr td:nth-child(even){
	width: 85%;
	font-size: 18px;
	font-weight: normal;
}
.form_common{
	border: 1px solid #ced4da;
	border-radius: 4px;
	width: 100%;
	padding: 10px;
	background-color: #E5E5E5;
}
#birth_day_y{
	width: 100px;
}
#birth_day_m,
#birth_day_d{
	width: 70px;
}
#gender{
	width: 90px;
}
#postal{
	width: 135px;
}
#tel{
	width: 225px;
}
#btn_step1{
	padding: 11px 0;
	font-size: 16px;
	line-height: 1;
	color: #fff;
	background: #150532;
	display: inline-block;
	width: 138px;
	border-radius: 5px;
	border: 1px solid transparent;
}
#btn_step1:hover{
	background: #fff;
	color: #150532;
	border: 1px solid #150532;
}
/*end of #entry*/

.steps {
  padding-left: 0;
  list-style: none;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 12px;
  line-height: 1;
  margin: 30px auto;
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
}

.steps strong {
  font-size: 14px;
  line-height: 1;
  color: #fff;
  display: block;
  line-height: 1.4;
  padding: 20px 0;
}

.steps>li {
  position: relative;
  display: block;
  /* border: 1px solid #ddd; */
  /*padding: 12px 50px 8px 50px;*/ 
  width: 240px;
  min-height: 60px;
  max-height: 60px;
}
  .steps>li { float: left; }
  .steps .past { color: #fff; background: #150532; }
  .steps .present { color: #000; background: #918f96; }
  .steps .future { color: #777;background: #918f96; }

  .steps li > span:after,
  .steps li > span:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-left-color: #f0f0f0;
    border-width: 30px;
  }

  .steps li > span:after {
    top: -5px;
    z-index: 1;
    border-left-color: white;
    border-width: 34px;
  }

  .steps li > span:before { z-index: 2; }

  .steps li.past + li > span:before { border-left-color: #150532; }
  .steps li.present + li > span:before { border-left-color: #918f96; }
  .steps li.future + li > span:before { border-left-color: #efefef; }

  .steps li:first-child > span:after,
  .steps li:first-child > span:before { display: none; }

  /* Arrows at start and end */
  .steps li:first-child i,
  .steps li:last-child i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: solid transparent;
    border-left-color: white;
    border-width: 30px;
  }

  .steps li:last-child i {
    left: auto;
    right: -30px;
    border-left-color: transparent;
    border-top-color: white;
    border-bottom-color: white;
  }
