/*#top*/
.mv{
	background: url(../img/mv.jpg) no-repeat top center;
	background-size: cover;
	height: 565px;
}
#top{
	padding: 104px 0 0 0;
}
/*.job_search*/
.job_search{
	width: 85%;
	max-width: 960px;
	margin: 0 auto;
}
.icon_search{
	width: 20px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.job_search_ttl{
	font-weight: bold;
    font-size: 28px;
    line-height: 1;
    text-align: center;
    padding: 20px 8px 15px 8px;
    margin: 0 0 80px 0;
    display: inline-block;
    border-bottom: 2px solid #150532;
}
.js_search_content{
	border-top: 2px solid #150532;
	border-bottom: 2px solid #150532;
}
.js_search_title{
    background: url(../img/ico_down.png) no-repeat right 100px center;
    box-sizing: border-box;
    cursor: pointer;
    padding: 35px 100px;
    padding: 3.6458333333333335% 10.416666666666668%;
	border-bottom: 2px dotted #150532;
}
.dropdown:last-child .js_search_title{
	border: none;
}
.js_search_title.opened {
    background: url(../img/ico_up.png) no-repeat right 100px center;
}
.js_content_01{
	display: none;
	text-align: left;
}
.js_search_txt_01{
	font-size: 20px;
	line-height: 1;
	font-weight: bold;
	color: #000;
	text-align: left;
}
.job_search .employment_form{
	padding: 30px 100px;
	padding: 3.125% 10.416666666666668%;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
}
.area{
	padding: 30px 0;
}
.area li{
	float: right;
}
.area li:nth-child(odd){
	width: 60%;
}
.area li:nth-child(even){
	width: 40%;
}
.area li svg{
	width: 100%;
	height: auto;
}
.salary{
	margin: 0 auto 30px auto;
	width: 90%;
	text-align: center;
}
.salary input[type=text]{
	border: 1px solid #ced4da;
	margin: 0 0 0 10px;
	padding: 5px;
	width: 150px;
	width: 28%;
}

.employment_form_checkbox{
	display: inline-block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 20px;
	cursor: pointer;
	font-size: 14px;
	color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.employment_form_checkbox input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 16px;
	background-color: #fff;
	border: 1px solid #000;
}
.employment_form_checkbox:hover input ~ .checkmark{
	background-color: #150532;
}
.employment_form_checkbox input:checked ~ .checkmark{
	background-color: #150532;
	border: 1px solid #000;
}
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.employment_form_checkbox input:checked ~ .checkmark:after{
	display: block;
}
.employment_form_checkbox .checkmark:after{
	left: 5px;
	top: 0px;
	width: 2px;
	height: 7px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.select2-container{
	width: 90% !important;
}
.select2-container--default .select2-selection--single{
	border: 2px solid #150532 !important;
	padding: 5px 20px 5px 10px;
	height: auto;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 39px;
    right: 10px;
    width: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: #150532 transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #150532 transparent;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color: #000;
}
.select2-container--default .select2-selection--single .select2-selection__clear{
	float: none;
}
/*end of .job_search*/

/*.search_for*/
.search_for{
	margin: 80px 0 0 0;
}
/*end of .search_for*/

path:hover{
    fill:#150532;
    stroke:blue;
}
.test_01,
.test_02{
	display: none;
}
.test_01,
.test_02{
	width: 90%;
	border: 1px solid #150532;
	float: right;
}
/*end of PC*/


/*For SP*/
@media only screen and (max-width: 767px){
	/*#top*/
	.mv{
		background: url(../img/mv.jpg) no-repeat top center;
		background-size: cover;
		height: 5.65rem;
	}
	#top{
		padding: 1.04rem 0 0 0;
	}
	/*.job_search*/
	.job_search{
		width: 5.80rem;
		max-width: 100%;
		margin: 0 auto;
	}
	.icon_search{
		width: .30rem;
		height: auto;
		display: block;
		margin: 0 auto;
	}
	.job_search_ttl{
		font-weight: bold;
	    font-size: .30rem;
	    line-height: 1;
	    text-align: center;
	    padding: .22rem .10rem .16rem .10rem;
	    margin: 0 0 .82rem 0;
	    display: inline-block;
	    border-bottom: 2px solid #150532;
	}
	.js_search_content{
		border-top: 2px solid #150532;
		border-bottom: 2px solid #150532;
	}
	.js_search_title{
	    background: url(../img/ico_down.png) no-repeat right 1.00rem center;
	    box-sizing: border-box;
	    cursor: pointer;
	    padding: .35rem 1.00rem;
		border-bottom: 2px dotted #150532;
	}
	.dropdown:last-child .js_search_title{
		border: none;
	}
	.js_search_title.opened {
	    background: url(../img/ico_up.png) no-repeat right 1.00rem center;
	}
	.js_content_01{
		display: none;
		text-align: left;
	}
	.js_search_txt_01{
		font-size: .20rem;
		line-height: 1;
		font-weight: bold;
		color: #000;
		text-align: left;
	}
	.job_search .employment_form{
		padding: .30rem 1.00rem;
		text-align: left;
		display: flex;
		flex-wrap: wrap;
	}
	.area{
		padding: .30rem 0;
		text-align: center;
	}
	.area li{
		float: right;
	}
	.area li:nth-child(odd){
		width: 100%;
	}
	.area li:nth-child(even){
		width: 100%;
	}
	.area li svg{
		width: 100%;
		height: auto;
	}
	.select2-container{
		width: 4.60rem !important;
	}
	.select2-container--default .select2-selection--single{
		border: 2px solid #150532 !important;
		padding: .10rem .20rem .10rem .10rem;
		height: auto;
		text-align: left;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow {
	    height: .39rem;
	    right: .10rem;
	    width: .30rem;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow b{
	    border-color: #150532 transparent transparent transparent;
	}
	.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	    border-color: transparent transparent #150532 transparent;
	}
	.select2-container--default .select2-selection--single .select2-selection__placeholder{
	    color: #000;
	    font-size: .14rem;
	}
	.salary{
		margin: 0 auto .30rem auto;
		width: 5.70rem;
		text-align: center;
	}
	.salary li{
		margin: 0 0 .20rem 0;
	}
	.salary li label{
		font-size: .18rem;
		line-height: 1;
		color: #000;
	}
	.salary input[type=text]{
		border: 1px solid #ced4da;
		margin: 0 0 0 .10rem;
		padding: .05rem;
		width: .50rem;
	}
	.select2-results__option,
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		font-size: .18rem;
		line-height: 1;
	}
	.select2-container--default .select2-selection--single .select2-selection__clear{
		float: none;
	}

	.employment_form_checkbox{
		display: inline-block;
		position: relative;
		padding-left: .30rem;
		margin-bottom: .20rem;
		cursor: pointer;
		font-size: .14rem;
		color: #000;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.employment_form_checkbox input{
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: .16rem;
		width: .16rem;
		background-color: #fff;
		border: 1px solid #000;
	}
	.employment_form_checkbox:hover input ~ .checkmark{
		background-color: #150532;
	}
	.employment_form_checkbox input:checked ~ .checkmark{
		background-color: #150532;
		border: 1px solid #000;
	}
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	.employment_form_checkbox input:checked ~ .checkmark:after{
		display: block;
	}
	.employment_form_checkbox .checkmark:after{
		left: .05rem;
		top: 0rem;
		width: .02rem;
		height: .07rem;
		border: solid white;
		border-width: 0 .03rem .03rem 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}


	/*end of .job_search*/

	/*.search_for*/
	.search_for{
		margin: .80rem 0 0 0;
	}
	/*end of .search_for*/

	path:hover{
	    fill:#150532;
	    stroke:blue;
	}
	.test_01,
	.test_02{
		display: none;
	}
	.test_01,
	.test_02{
		width: 90%;
		border: 1px solid #150532;
		float: right;
	}

	
}

