
/*#view*/
#view{
	padding: 104px 0 0 0;
}
.view_ul_01{
	width: 960px;
	width: 84%;
	margin: 0 auto 50px auto;
	text-align: left;
	outline: 1px solid #150532;
	border-collapse: collapse;
}
.view_ul_01 tr{
	border-bottom: 1px solid #150532;
}
.view_ul_01 td{
	padding: 20px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: bold;
}
.view_ul_01 tr:last-child{
	border: none;
}
.view_ul_01 td:nth-child(odd){
	width: 150px;
	width: 16%;
	background: #d3c9e7;
}
.view_ul_01 td:nth-child(even){
	width: 810px;
	width: 84%;
	font-size: 18px;
	font-weight: normal;
}
#view .search_for{
	background-image: url(../img/ico_right.png) no-repeat right 10px center;
	background: linear-gradient(to right, #150532 50%, white 50%) url(../img/ico_right.png) no-repeat right 10px center;
}
#view .search_for:hover{
	background-image: url(../img/ico_right_hover.png) no-repeat right 10px center;
}
/*end of #view*/