.article_edit_title{
    padding: 15px;
}
.article_edit_ttl_01,
.article_edit_txt_02,
.article_edit_txt_03{
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    color: #437ec4;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    width: auto;
    padding: 0;
    text-decoration: underline;
}
.article_edit_ttl_01:after{
	content: '';
	background-color: #000; 
	right: -15px;
	top: 2px;
	display: block;
	height: 16px;
	position: absolute;
	width: 2px;
}
.article_edit_txt_02{
	padding: 0 0 0 15px;
	color: #000;
	text-decoration: none;
}
.article_edit_ttl_02{
	font-size: 20px;
	line-height: 1;
	color: #000;
	padding: 15px;
	background: #fff;
	margin: 0;
}
.article_edit_txt_03{
	color: #000;
	padding: 30px 0 30px 15px;
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}
.article_form{
	width: 100%;
	background: #fff;
	margin-bottom: 200px;
}
.article_form_table{
	width: 100%;
	padding: 0 0 30px 0;
}
.article_form_table th,
.article_form_table td{
	border-bottom: 1px solid #ccc;
	padding: 15px;
	border-collapse: collapse;
	text-align: left;
	font-size: 14px;
	line-height: 1;
	vertical-align: top;
}
.article_form_table th{
	font-size: 16px;
}
.article_form_table td{
	border: none;
}
.article_form_table td:nth-child(odd){
	width: 30%;
}
.article_form_table td:nth-child(even){
	width: 70%;
}
/*.admin_search,
.admin_search_textarea{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}*/
.badge{
	display: inline-block;
	padding: 2px 4px;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	border-radius:4px;
	background-color: #437ec4;
}
.upload_zone{
	padding: 42px 0 42px 10px;
	border: 1px dashed #ccc !important;
}
.file_upload{
	display: inline-block;
}
.btn_file_upload{
	padding: 3px 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
	background: #fff;
	cursor: pointer;
}
.btn_file_upload:hover{
	background: #dee2e6;
}
.fa-cloud-upload::before{
	color: #ccc;
}
.form_ttl_01{
	display: inline-block;
	margin: 0 0 0 10px;
}
.fa-3x{
	vertical-align: middle;
}
.gallery{
	display: inline-block;
	width: auto;
	max-height: 170px;
	background-color: #f5f6f8;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}
.gallery img:after{
	display: block;
	content: "";
	width: 100%;
	height:100%;
	position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;
}
.drap_drop_txt{
	display: none;
	font-size: 14px;
	line-height: 1;
	color: #000;
	margin: 10px 0;
}
.gallery .overlay{
	width: 170px;
	height: auto;
	vertical-align: top;
	position: relative;
}
.overlay:hover{
	opacity: .5;
}
.overlay:hover:after{
	display: block;
	content: "";
	width: 100%;
	height:100%;
	position: absolute;
	background: rgba(0,0,0,.5);
	top: 0;
	background: red;
	height: 180px;
	z-index: 99999999;
}
.admin_search_textarea{
	min-height: 198px;
}
.article_form_table_01,
.article_form_table_02{
	border-top: 1px solid #ccc;
}
.article_form_table_02 td{
	width: 25%;
}
.article_form_table_02 td:nth-child(odd),
.article_form_table_02 td:nth-child(even){
	width: 25%;
}
.form_ttl_02{
	font-size: 14px;
	line-height: 1.5;
}
.establishment_text{
	width: 17%;
	margin: 5px 0;
}
.establishment_select{
	padding: 5px 10px;
	border: 1px solid #ced4da;
	margin: 5px 0;
	width: 17%;
}
.admin_search_01{
	width: 20%;
}
p.btn_over {
    text-align: center;
}
p.btn_over input {
    background: #ccc;
    width: 220px;
    padding: 10px 10px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 120%;
    border: 1px solid #ccc;
    margin: 30px auto;
}
.btn_delete {
    margin: 10px 0;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
/*customize file upload*/
.image_preview_zone{
	width: 170px;
	height: auto;
	
}
.image_remove{
	display: none;
}
#logopreview1{
	width: 170px;
	height: 170px;
	background-color: #f5f6f8;
	overflow: hidden;
}
#logopreview1 img{
	width: 170px;
	height: auto;
}
.btn_delete{
	margin: 10px 0;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	text-align: center;
	cursor: pointer;
}
.btn_delete:hover{
    background: #dee2e6;
}

/*end of customize file upload*//*customize file upload*/
.image_preview_zone{
	width: 170px;
	height: auto;
	
}
.image_remove{
	display: none;
}
#logopreview1{
	width: 170px;
	height: 170px;
	background-color: #f5f6f8;
	overflow: hidden;
}
#logopreview1 img{
	width: 170px;
	height: auto;
}
.btn_delete{
	margin: 10px 0;
	display: inline-block;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	text-align: center;
	cursor: pointer;
	width: 170px;
}
.btn_delete:hover{
    background: #dee2e6;
}
.btn_file_upload{
	margin: 0 0 10px 0;
}
/*end of customize file upload*/