/*header*/
.c-headerBar{
	width: 100%;
	height: 65px;
	color: #fff;
	background: #2f3f4e;
	position: fixed;
	top: 0;
	z-index: 1000;
}
.c-headerBar__container{
	display: table;
	width: 100%;
	max-width: 2500px;
}
.c-headerBar__logo{
	display: table-cell;
	padding: 0 20px;
	width: 10%;
	vertical-align: middle;
}
.c-headerBar__shopTitle{
	display: table-cell;
	padding: 0 20px;
	height: 65px;
	color: #ffffff !important;
	vertical-align: middle;
	white-space: nowrap;
}
.c-headerBar a{
	color: #fff;
}
.c-headerBar__userMenu{
	display: table-cell;
	padding: 0 20px;
	width: 10%;
	height: 65px;
	color: #fff;
	vertical-align: middle;
	white-space: nowrap;
	text-align: right;
	cursor: pointer;
    right: 0;
}
.c-headerBar__userMenu .fa-user-circle{
	padding-right: 10px;
	font-size: 34px;
	vertical-align: middle;
}
.c-pageTitle{
    display: table;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    background: #fff;
}
.c-headerBar{
    color: #fff;
}
/*end of header*/

/*container*/
.c-container{
	margin: 0 auto;
	margin: 65px 0 77px 0;
	width: 100%;
	max-width: 2500px;
	min-width: 1024px;
	margin-bottom: 77px;
}
.c-contentsArea {
	margin-left: 220px;
	background: #eff0f4;
}
.c-contentsArea__cols, 
.c-contentsArea__rows{
	display: table;
	padding: 0 15px 60px;
	width: 100%;
}

/*Navigation bar*/
/*.c-mainNavArea ul{
	padding-left: 0;
}
.c-mainNavArea__nav{
	margin-bottom: 0;
	padding-left: 0;
}*/
.c-mainNavArea{
	padding-top: 65px;
	width: 220px;
	height: 100%;
	background: #f3f4f6;
	border-right: 1px solid #d6d9e0;
	position: fixed;
	top: 0;
	left: 0;
	overflow-y: auto;
	z-index: 500;
	transition: width 0.3s ease;
}
.c-mainNavArea__navItem ul{
	background: #fff;
	color: #54687A;
	font-size: 14px;
}
.c-mainNavArea__navItemTitle span{
    color: #2f3f4e;
    line-height: 1.3;
}
.c-mainNavArea__navItem li ul li a{
	padding: 10px 30px 10px 50px;
}
.c-mainNavArea__navItem li a{
	display: block;
	padding: 10px 30px 10px 40px;
	text-align: left;
	color: inherit;
	font-size: inherit;
	cursor: pointer;
}
.c-mainNavArea__navItemTitle{
	transform: translateX(0);
	display: block;
	border-bottom: 1px solid #d6d9e0;
	padding: 10px 15px;
	font-size: 16px;
	color: #2f3f4e;
	cursor: pointer;
	position: relative;
}
.c-mainNavArea__navItemTitle i {
	margin-right: 5px;
	color: #54687A;
	font-size: inherit;
}
.c-mainNavArea__navItemTitle.collapsed:after {
	content: "\f107";
}
/*end of navigation bar*/
/*c-contentsArea*/
.c-pageTitle{
    display: table;
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    background: #fff;
}
.c-pageTitle__title {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 20px;
    vertical-align: middle;
    color: #212529;
}
.c-pageTitle__titles {
    display: table-cell;
    color: #212529;
}
.card-header {
    padding: 12px 20px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.fa-angle-up{
    display: none;
}
.angle-up-down{
	display: inline-block;
	padding-left: 10px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: bold;
}
.fa-lg{
	font-weight: bold;
}

.fade {
    transition: opacity 0.15s linear;
}
.popover{
    display: none;
}
.bs-popover-bottom{
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 77px;
    right: 10px;
    position: fixed;
}
.popover .arrow {
    position: absolute;
    display: block;
    width: 16px;
    height: 8px;
    margin: 0 4.8px;
    left: 60px;
}
.badge {
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border-radius: 4px;
    background-color: #437ec4;
    margin: 0 0 0 5px;
}
.bs-popover-bottom .arrow, 
.bs-popover-auto[x-placement^="bottom"] .arrow {
    top: calc((0.5rem + 1px) * -1);
}

.bs-popover-bottom .arrow:before, 
.bs-popover-auto[x-placement^="bottom"] .arrow:before {
    top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-bottom .arrow:before,
.bs-popover-auto[x-placement^="bottom"] .arrow:before, 
.bs-popover-bottom .arrow:after, .bs-popover-auto[x-placement^="bottom"] .arrow:after {
    border-width: 0 8px 8px 8px;
}
.popover .arrow:before, .popover .arrow:after {
    position: absolute;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}
.bs-popover-bottom .arrow:after,
.bs-popover-auto[x-placement^="bottom"] .arrow:after {
    top: 1px;
    border-bottom-color: #fff;
}

.popover-header {
	font-size: 16px;
	line-height: 1;
	padding: 10px 26px;
	background-color: #f7f7f7;
}
.bs-popover-bottom .popover-header:before, 
.bs-popover-auto[x-placement^="bottom"] .popover-header:before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 16px;
    margin-left: -8px;
    content: "";
    border-bottom: 1px solid #f7f7f7;
}
.popover-body{
	background: white;
	text-align: center;
}
.popover_txt_01{
	font-size: 13px;
	line-height: 1;
	padding: 10px;
    padding-left: 0;
    margin-bottom: 10px;
    color: #495057;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn_pwd{
	display: inline-block;
    padding: 8px 0;
    border: 1px solid #595959;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1;
    min-width: 120px;
    color: #595959;
}
.btn_login{
	background-color: #F5F6F8;
	border: none;
	margin: 10px 0;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn_pwd:hover {
    color: #212529;
    background-color: #F2F2F2;
    border-color: #262626;
}
.btn_pwd:hover {
    color: #262626;
    background-color: #D6D9E0;
    border-color: transparent;
}
/*end of c-contentsArea*/
 
/* error_msg and success_msg */
.alert_successMsg,
.alert_errorMsg,
.alert_infoMsg{
    background-color: #d3f1e4;
    border-color: #c2ebd9;
    display: block;
    padding: 15px;
    margin: 0 15px 15px 15px;
    border-radius: 4px;
    position: relative;
}
.alert_errorMsg{
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert_infoMsg{
    background-color: #d1ecf1;
    border-color: #bee5eb;
}
.close{
    position: absolute;
    right: 10px;
}
.close:hover{
    opacity: .5;
}
.alert_successMsg .fa-check:before {
    color: #13603e;
}
.success_msg,
.error_msg,
.info_msg{
    margin: 0 0 0 5px;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    color: #13603e;
    font-weight: bold;
}
.error_msg{
    color: #ff0000;
}
/* end of error_msg and success_msg */

/* .c-conversionArea */
.c-conversionArea {
    width: calc(100% - 215px);
    background: rgba(47, 63, 78, 0.8);
    position: fixed;
    bottom: 63px;
    right: 0;
    text-align: center;
    z-index: 100;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -5px;
    padding: 18px 0;
}
.c-conversionArea__container {
    width: 100%;
}
.btn-ec-conversion {
    color: #fff;
    background-color: #437EC4;
    border-color: transparent;
     padding: 10px 55px;
}
.btn-ec-conversion:not(:disabled):not(.disabled):active, 
.btn-ec-conversion:not(:disabled):not(.disabled).active,
.show > .btn-ec-conversion.dropdown-toggle {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-ec-conversion:hover {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
/* end of .c-conversionArea */

/*file upload customize*/
#upload-zone{
    padding: 42px 0 42px 10px;
    border: 1px dashed #ccc !important;
    border-radius: 4px;
    text-align: center;
}
.upload-btn-wrapper{
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0 0 0 15px;
    vertical-align: middle;
}
.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.btn_file_upload {
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.upload-btn-wrapper:hover,
.image_upload span:hover{
    background: #dee2e6;
}
#image_preview{
    display: inline-block;
}
.image_upload{
    display: inline-block;
    width: 170px;
    height: auto;
    margin: 0 15px 0 0;
}
#image_preview .images{
    width: 170px;
    height: 170px;
    background-color: #f5f6f8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.images{
    display: flex;
    flex-wrap:  wrap;
    margin-top: 20px;
}
.images .img{
    width: 100%;
    height: auto;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.image_upload span{
    margin: 10px 0;
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}
/*end of file upload customize*/
.disabled{
    pointer-events:none; 
    opacity:0.6;
    background: #ccc;   
}

/*form common*/
.form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a4c1e2;
    box-shadow: 0 0 0 2px rgba(67, 126, 196, 0.25);
}
/*end of form common*/

/*footer*/
.footer-container {
    width: 100%;
    display: block;
    background: #2f3f4e;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    z-index: 1000;
    text-align: center;
    padding: 25px 0;
}
footer .footer_txt_01 {
    color: #fff;
    font-size: 14px;
    line-height: 1;
}
/*end of footer*/