textarea.form-control {
    height: auto;
}
textarea {
    overflow: auto;
    resize: vertical;
}
li{
    list-style: none;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    margin-bottom: 0.5rem;
}
button, select {
    text-transform: none;
}
*, *:before, *:after {
box-sizing: border-box;
}
section:after {
content: "";
display: table;
clear: both;
}
form{
    display: block;
    margin-top: 0em;
    padding: 0 15px 60px !important;
}
.select-option select, textarea{
    width: 100%;
}
.form-entry-title{
    padding-left: 15px;
    padding-bottom: 10px;
}
.contact-select, .textarea-entry{
    width: 80%;
    padding-right: 15px;
}
.contact_form-entry{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 15px;
}
.mycontact-entry{
    display: inline-block;
    flex: 0 0 25%;
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
    padding-top: 0;
}
.contact-form{
    display: table;
    padding: 0 15px 15px;
    width: 100%;
    background: #fff;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 6px 12px;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a4c1e2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(67, 126, 196, 0.25);
}
.mycontact-entry{
    display: inline-block;
    flex: 0 0 25%;
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
    padding-top: 0;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #437ec4;
    margin-left: 30px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-ec-conversion {
    color: #fff;
    background-color: #437EC4;
    border-color: transparent;
    cursor: pointer;
    padding-left: 60px;
    padding-right: 60px;
}
.btn-ec-conversion:not(:disabled):not(.disabled):active, .btn-ec-conversion:not(:disabled):not(.disabled).active,
.show > .btn-ec-conversion.dropdown-toggle {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-ec-conversion:hover {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}

.c-conversionArea {
    width: calc(100% - 215px);
    height: 65px;
    background: rgba(47, 63, 78, 0.8);
    position: fixed;
    bottom: 65px;
    right: 0;
    text-align: center;
    z-index: 100;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    padding-bottom: 0;
}
.c-conversionArea__container {
    display: flex;
    align-items: center !important;
    width: 100%;
    justify-content: center;
}
.ex-conversion-action, .product_text_block{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}