form{
    display: block;
    margin-top: 0em;
    padding: 0 15px 60px !important;
}
.new-mail-form{
    display: table;
    padding: 0 15px 15px;
    width: 100%;
    background: #fff;
}
.c-mynew-mail, .c-mymail-label{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 15px;
}
.mymail{
    width: 80%;
    padding-right: 15px;
}
 .mymail-label{
    display: inline-block;
    flex: 0 0 25%;
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
    padding-top: 0;
}
.mynewmail-entry {
    display: inline-block;
    flex: 0 0 25%;
    max-width: 20%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding: 15px;
    padding-top: 0;
}
.mynew-mail{
    width: 80%;
    padding-right: 15px;
}
.badge{
    padding: 0px 10px !important;
    line-height: 2 !important;
    margin-top: 8px;
    margin-left: 30px;
}
.btn-ec-conversion:not(:disabled):not(.disabled):active, 
.btn-ec-conversion:not(:disabled):not(.disabled).active,
.show > .btn-ec-conversion.dropdown-toggle {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-ec-conversion:hover {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}