/*job_list_index*/
form{
    padding: 0 0 60px;
}
.job_list_title{
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    background: #fff;
}
.job_list_ttl_01{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
}
.job_list_form{
	position: relative;
  	padding: 0 15px 0 15px;
}
.job_list_table{
    background: #fff;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    border-collapse: collapse;
}
.job_list_table th,
.job_list_table td{
    padding: 8px 4.8px;
}
.btn_delete {
    border-radius: 4px;
    background-color: #C04949;
    border: 1px solid transparent;
    color: #fff;
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
}
/*end of job list index*/