body{
    overflow: auto;
}
.job_register_ttl_01{
    font-size: 20px;
    line-height: 1;
    color: #000;
    padding: 15px;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid #000;
}
.job_form_table{
    width: 100%;
    text-align: left;
    background: #fff;
    padding: 20px 0 100px 0;
}
.job_form_table td{
    padding: 15px;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    vertical-align: top;
}
.form_control {
    width: 750px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.job_status_txt_01, .job_status_txt_02 {
    font-size: 15px;
    line-height: 1.6;
    color: #495057;
}
.job_status_txt_02{
    width: 90px;
    display: inline-block;
}
.form_control_02{
    width: 656px;
}
.form_control_03{
    width: 100%;
}
.form_control_07{
    width: 468px;
}
.check_list{
    width: 771px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
}
.unchecked{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}
.post_code_link {
    font-size: 15px;
    line-height: 1.3;
    display: inline-block;
    text-decoration: underline;
}
.job_register_address{
    margin: 0 0 15px 0;
}
.job_register_ph{
    display: inline-block;
    width: 234px;
}
.job_register_ph_01{
    margin: 0 20px;
}