/*login-index*/
.c-contentsArea{
	margin-left: 0;
}
.container {
	width: 100%;
	display: block;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 150px;
	max-width: 1140px;
}
.login-row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}
.login-form{
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
	margin-left: 33.33333%;
	padding-left: 15px;
	padding-right: 15px;
}
.login-form-entry{
	text-align: center;
	padding: 3rem;
	background-color: #fff;
}
form{
	padding: 0 !important;
}
.login-form-entry form p{
	margin-bottom: 15px;
}
.login-form-entry img{
	width: 106px;
}
.login-form-entry .form-group{
	margin-bottom: 15px;
}
.login-btn{
	display: block;
    width: 100%;
    color: #fff;
    background-color: #437ec4;
    border-color: #437ec4;
    padding: 10px 15px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 3px;
}
.login-text{
	position: relative;
	width: 100%;
	display: block;
	flex: 0 0 100%;
	max-width: 100%;
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
}
.login-text p{
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 80%;
	font-weight: 400;
}