form{
    display: block;
    margin-top: 0em;
    padding: 0 15px 60px !important;
}
.new-password-form{
    display: table;
    padding: 0 15px 15px;
    width: 100%;
    background: #fff;
}

.mycurrent-password, .mynew-password, .myconfirm-password{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 15px;
}

.mypassword-entry,.mynewpassword-entry, .myconfirm-entry {
    display: inline-block;
    flex: 0 0 25%;
    max-width: 20%;
    position: relative;
    min-height: 1px;
    padding: 8px 20px;
}
.old-label, .new-label, .confirm-label{
    display: block;
    width: 70%;
    float: left;;
}
.pas_text{
    width: 80%;
    padding-right: 15px;
}