textarea.form-control {
    height: auto;
}
textarea {
    overflow: auto;
    resize: vertical;
}
li{
    list-style: none;
}

label {
    display: inline-block;
    margin-bottom: 8px;
    margin-bottom: 5px;
}
button, select {
    text-transform: none;
}
*, *:before, *:after {
box-sizing: border-box;
}
section:after {
content: "";
display: table;
clear: both;
}
form{
    display: block;
    margin-top: 0em;
    padding: 0 15px 60px !important;
}
.c-headerBar__userMenu .angle-up-down{
    font-weight: bold;
    color: #fff;
    padding: 0;
    display: inline;
    margin-left: 10px;
}
.select-option select, textarea{
    width: 100%;
}
.c-contentsArea__cols {
    display: table;
    padding: 0 15px 60px;
    width: 100%;
}
.c-contentsArea__primaryCol {
    display: table-cell;
    vertical-align: top;
}
.product-reg-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding-top: 0;
}
.row-id-entry, .row-id-title ,.mode-view-no, .mode-view-right, .c-conversionArea,
.product_Status-container, .product_Status-btn, .free-area-label, .left_col, .right_col{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.fa-cloud-upload::before{
    color: #ccc;
}
.form_ttl_01{
    display: inline-block;
    margin: 0 0 0 10px;
}
.fa-3x{
    vertical-align: middle;
}
.gallery{
    display: inline-block;
    width: auto;
    max-height: 170px;
    background-color: #f5f6f8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.drap_drop_txt{
    display: none;
    font-size: 14px;
    line-height: 1;
    color: #000;
    margin: 10px 0;
}
.gallery .overlay{
    width: 170px;
    height: auto;
    vertical-align: top;
    position: relative;
}
.overlay:hover{
    opacity: .5;
}
.overlay:hover:after{
    display: block;
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    background: red;
    height: 180px;
    z-index: 99999999;
}
.c-contentsArea__secondaryCol {
    display: table-cell;
    width: 350px;
    vertical-align: top;
}
.c-secondaryCol {
    margin-left: 15px;
}
.category-container, .tag-container, .c-primaryCol-row{
    margin-bottom: 15px !important;
    border-radius: 3px !important;
    border: 0 !important;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;

}
.cat-header, .tag-header, .info-header {
    padding: 12px 20px;
    margin-bottom: 0;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.info-header{
    border-radius: calc(3px - 1px) calc(3px - 1px) 0 0;
}
.cat-row, .search-row, .tag-row, .info-row, .free-area-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.cat-title-col, .angle-up-down, .search-col, .tag-title-col, .info-title,.free-textarea{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
.cat-titles, .tag-titles{
    display: inline-block;
}
.cat-title, .tag-title {
    margin-bottom: 8px;
}
.angle-up-down a{
    display: inline-block;
}
.primary-angle-up a{
    width: 100%;
}
.angle-up-down{
    text-align: right;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    color: #437ec4;
    width: 100%;
    padding-right: 5px;
}
.angle-up-down a i{
    color: #437ec4;
}
.fa-angle-up{
    display: none;
}

.card-body{
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 20px;
}
.category-search{
    margin-bottom: 16px !important;
}
.search-col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.input-group-prepend {
    margin-right: -1px;
    display: flex;
}
.search-text{
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef !important;
    border: 1px solid #ced4da !important;
    border-radius: 3px;
}

.input-group > .form-control {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.c-directoryTree--register {
    padding: 10px;
    max-height: 300px;
    overflow: scroll;
    border-radius: 3px !important;
    border: 1px solid #dee2e6 !important;
    margin-bottom: 10px !important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.c-directoryTree--registerItem label{
    margin-bottom: 10px;
}
.label_block{
    display: inline-block;
    line-height: 1.5;
}
.label_block i{
    margin-left: 3px;
}
.label_block .badge{
    margin-left: 3px !important;
}
.c-directoryTree--register ul{
    margin-top: 0;
    margin-bottom: 0;
}
.c-directoryTree--register ul > li > ul li:last-of-type > label:before {
    margin-right: 6px;
    content: "└";
    display: inline-block;
    width: 10px;
    height: 10px;
}
.c-directoryTree--register ul > li > ul li:not(:last-of-type) > label:before {
    margin-left: 2px;
    margin-right: 5px;
    content: "├";
    display: inline-block;
    width: 10px;
    height: 10px;
}
.c-directoryTree--register ul > li > ul li > label {
    margin-left: 10px;
}
.text-block{
    text-align: center;
    display: block;
}
.btn-block {
    width: 100%;
}
.text-block a{
    color: #595959 !important;
}
.btn-ec-regular{
    color: #212529;
    background-color: #FFFFFF;
    border-color: #595959;
    cursor: pointer;
}
.btn-ec-regular:hover {
    color: #262626;
}
.btn-ec-regular:hover {
    color: #212529;
    background-color: #F2F2F2;
    border-color: #262626;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}

.plus-minus-square, .add-product-square{
    margin-top: 
    margin-bottom: 10px !important;
    display: block;
}
.add-product-square{
    margin-top: 5px;
}
.plus-minus-square a, .add-product-square a{
    text-decoration: none;
    padding: 0;
    color: #212529 !important;
}
.font-weight-bold {
    font-weight: 700 !important;
}
.plus-minus-body{
    padding: 10px !important;
    background-color: #f9f9f9 !important;
    margin-bottom: 10px !important;
}
.fa-minus-square-o{
    display: none;
}
.tag-registration-item{
    margin-bottom: 5px !important;
    margin-right: 5px !important;
    display: inline-block;
}
.btn-outline-secondary {
    color: #437ec4;
    background-color: transparent;
    background-image: none;
    border-color: #437ec4;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #437ec4;
    border-color: #437ec4;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-outline-secondary:focus, .btn-outline-secondary.focus {
    box-shadow: 0 0 0 2px rgba(67, 126, 196, 0.5);
}
.btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active, .show > .btn-outline-secondary.dropdown-toggle {
    color: #fff;
    background-color: #437ec4;
    border-color: #437ec4;
}
/*.btn-outline-secondary {
    color: #54687A;
    background-color: transparent;
    background-image: none;
    border-color: #54687A;
}
.btn-outline-secondary:hover {
    color: #fff;
    background-color: #54687A;
    border-color: #54687A;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}*/
.free-textarea{
    flex: 0 0 75%;
    max-width: 75%;
}
.free-textarea div{
    width: 100%;
}
.right_col{
    margin-bottom: 5px;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.border-ec-dashed {
    border: 1px dashed #ccc !important;
}
.media_entry{
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 5px !important;
    border-radius: 3px !important;
    display: flex;
    align-items: flex-start;
}
.media-body {
    -ms-flex: 1;
    flex: 1;
}
.fa.fa-cloud-upload:before {
    content: "\f382";
}
.media-body i{
    color: #ccc !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    vertical-align: middle !important;
}
.input-group > .input-group-prepend > .btn, .input-group > .input-group-prepend > .input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.form-check{
    margin-top: 5px;
}
.form-check-input{
    margin: 0;
}
.product_Status-container, .product_Status-btn{
    align-self: center;
    width: auto;
    max-width: none;
    flex: 0 0 auto;
}
.product_Status-container{
    display: table;
    max-width: 80%;
    text-align: right;
}
.product_Status-btn{
    display: table;
    max-width: 100%;
}

.mode-view-label{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.mode-view-label a{
    color: #437ec4 !important;
    text-decoration: none;
    background-color: transparent;
}
.mode-view-right{
    text-align: right !important;
}
.up-arrow, .delete-btn{
    pointer-events: none;
}
.mode-view-right .btn {
    font-style: normal;
    font-size: 13px;
    line-height: .75em;
    vertical-align: -15%;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    background-color: transparent;
    border-color: transparent;
    opacity: 0.65;
    padding: 6px 12px;
    width: auto;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.row-id-title{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.form-entry-text, .free-area-label, .left_col{
    flex: 0 0 25%;
    max-width: 25%;
}
.free-area-label{
    padding-left: 15px;
    padding-right: 15px;
}
.form-entry-btn .btn{
    color: #595959;
    background-color: #FFFFFF;
    border-color: #595959;
    color: #595959;
    cursor: pointer;
}
.ladda-label {
    position: relative;
    z-index: 3;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}
.ladda-button .ladda-spinner {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32px;
    top: 50%;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
    color: #595959;
}

.c-conversionArea{
    width: calc(100% - 215px);
    height: 65px;
    background: rgba(47, 63, 78, 0.8);
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 100;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    padding-bottom: 0;
    padding-top: 0;
}
.c-conversionArea__container{
    display: flex;
    align-items: center !important;
    width: 100%;
    justify-content: center;
}
.select-box{
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 3px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-area-container{
    align-items: center !important;
    display: flex;
    justify-content: flex-end;
}
.btn-entry{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: flex-end;
    align-items: center;
}
.btn-container-entry{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
}
.left-btn, .right-btn{
    flex: 0 0 auto;
    width: auto;
    max-width: none;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.btn-ec-conversion {
    color: #fff;
    background-color: #437EC4;
    border-color: transparent;
    cursor: pointer;
    padding-left: 60px;
    padding-right: 60px;
}
.btn-ec-conversion:not(:disabled):not(.disabled):active, .btn-ec-conversion:not(:disabled):not(.disabled).active,
.show > .btn-ec-conversion.dropdown-toggle {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn-ec-conversion:hover {
    color: #fff;
    background-color: #2963AB;
    border-color: transparent;
}