/*product_list_index*/
form{
    padding: 0 0 60px;
}
.product_list_title{
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    background: #fff;
}
.product_list_ttl_01{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
}
.product_list_ttl_02{
    display: inline-block;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
}
.name_id_code{
    padding: 0 15px;
    width: 840px;
    margin: 0 0 5px 0;
}
.name_id_code_txt_01{
    display: inline-block;
    font-size: 14px;
    line-height: 1;
    padding: 10px 0;
    width: 80px;
}
.fa-question-circle{
    margin: 0 10px 0 0;
}
.admin_search{
    display: inline-block;
    width: 50%;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.detailed_search{
    padding: 0 0 0 15px;
    cursor: pointer;
    display: inline-block;
}
.fa-minus-square-o,
.fa-plus-square-o{
    margin-right: 3px;
}
.fa-minus-square-o::before{
    content: "\f146";
    font-weight: bold;
}
.fa.fa-minus-square-o{
    display: none;
}
.fa-plus-square-o::before{
    content: "\f0fe";
    font-weight: bold;
}
.detailed_search_ttl_01{
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
}
.category{
    background: #F8F9FA;
    padding: 15px;
    position: relative;
    margin: 10px 0 0 0;
    display: none;
}
.category::before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #F8F9FA transparent;
    position: absolute;
    top: -9px;
    left: 10px;
}
.category_ul_01{
    padding: 0;
    margin: 0;
}
.category_ul_01 li{
    float: left;
    width: 50%;
}
.category_txt_01,
.category_txt_02{
    font-size: 14px;
    line-height: 1;
    padding: 8px 0;
    display: inline-block;
}
.category_txt_02{
    display: block;
    margin: 0;
    padding: 15px 0 10px 0;
}
.category select{
    display: block;
    width: 49%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form_check{
    margin-right: 8px;
    display: inline-block;
}
.registration_date{
    display: inline-block;
    width: 46.5%;
}
.date{
    display: inline-block;
    padding: 5px 10px;
    width: 100%;
    border: 1px solid #ced4da;
    color: #495057;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.interval_symbol{
    margin: 0 5px;
}

.search_result{
    padding: 0 0 0 15px;
    margin: 10px 0 30px 0;
}
.btn_search_result{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    width: 118px;
    border: 2px solid transparent;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1;
    color: #fff;
    background-color: #437EC4;
    border-radius: 4px;
    cursor: pointer;
    transition: border 1.15s ease-in-out;
}
.btn_search_result:hover,
.btn_conversation:hover{
   background: #2963AB;
   border: 2px solid #c2c2c2;
}
.search_result_ttl_01{
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 0 5px;
}

.public_private{
    padding: 0 0 0 15px;
    margin: 0 0 30px 0;
}
.public_private_ttl_01{
    font-size: 14px;
    line-height: 1;
    font-weight: bold;
}
.public_private_ttl_02{
    font-weight: normal;
}

.product_list_form{
   position: relative;
   padding: 0 15px 0 15px;
}
.btn_bulk_txt_01{
    font-size: 14px;
    line-height: 1;
    margin: 0 5px 5px 0;
}
.btn_group{
    display: inline-block;
    margin: 0 0 8px 0;
}
.btn_relase,
.btn_private,
.btn_abolished,
.btn_delete{
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    background-color: #FFFFFF;
    border: 1px solid #595959;
    color: #595959;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}
.btn_private{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: none;
}
.btn_abolished{
    border: 1px solid #595959;
    border-radius: 4px;
    margin: 0 10px;
}
div.flexbox {
  display: -webkit-box;      
  display: -moz-box;        
  display: -ms-flexbox;   
  display: -webkit-flex;     
  display: flex;             
}
.btn_delete{
    border-radius: 4px;
    background-color: #C04949;
    border: 1px solid transparent;
    color: #fff;
}
.btn_relase:hover,
.btn_private:hover,
.btn_abolished:hover{
    background: #dee2e6;
}
.btn_delete:hover{
    background: #A54848;
}
.product_list_right{
    position: absolute;
    right: 15px;
    top: 0;
    padding: 0;
    margin: 0;
}
.product_list_right li{
    float: left;
}
.product_list_right li:first-child{
    margin-right: 10px;
}
.product_list_form select{
    display: inline-block;
    color: #595959;
    padding: 7px 20px 7px 10px;
    min-width: 83px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 5px center;
    background-size: 8px 10px;
}
.btn_product_list{
    padding: 6.5px 10px;
    font-size: 16px;
    line-height: 1;
    color: #595959;
    background-color: #FFFFFF;
    border: 1px solid #595959;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.btn_product_list span{
    color: #595959;
    display: inline-block;
    margin-left: 5px;
}
.product_list_right li a{
    display: inline-block;
}
.product_list_right li:last-child .btn_product_list{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.clearfix:after{
    height: 0;
    display: block;
    clear: both;
    content: "";
}
.text-secondary{
    color: #54687A !important;
}

.product_list_table{
    background: #fff;
    width: 100%;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    border-collapse: collapse;
}
.product_list_table th,
.product_list_table td{
    padding: 8px 4.8px;
}
.product_list_table td a{
    width: auto;
    padding: 0;
}
.product_list_table td:nth-child(4) a{
    color: #437ec4 !important;
}
.product_list_table td a img{
    max-width: 50px;
    width: 50px;
    height: 50px;
}
.align-middle{
    vertical-align: middle;
}
a.page_link{
    display: block;
    padding: 8px 12px !important;
    margin-left: -1px;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 4px;
    cursor: pointer;
    max-width: 80px;
    color: #595959 !important;
    text-align: center;
}
.page_link:hover{
    background: #dee2e6;
}
.product_list_table th{
    border-bottom: 2px solid #ccc;
}
.product_list_table td{
    border-top: 1px solid #ccc;
}
.product_list_table th:last-child{
    min-width: 158px;
    max-width: 158px;
}
.align_right{
    text-align: right;
    padding: 0 10px 0 0;
}
.btn_action_icon{
    color: #fff;
    padding: 7px 14px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    margin: 0 5px;
}
.btn_action_icon a{
    width: auto;
}
.btn_action_icon:hover,
.btn_modal:hover{
    background: #dee2e6;
}
.modal_ttl_01{
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 0 10px 15px 20px;
}
.modal_txt_01{
    font-size: 14px;
    line-height: 1;
    border-bottom: 1px solid #e9ecef;
    padding: 20px 10px 25px 10px;
    margin: 0 0 15px 0;
}
.modal_footer{
    text-align: right;
    padding: 0 10px 0 0;
}
.btn_modal{
    padding: 6px 10px;
    background: #fff;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    cursor: pointer;
}
.btn_conversation{
    background-color: #437EC4;
    padding: 5px 11px;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid transparent;
    color: #fff;
    cursor: pointer;
}
.modal,
.modal_standard,
.modal_csv{
    position: fixed;
    overflow: scroll;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.modal.is-visible,
.modal_standard.is-visible,
.modal_csv.is-visible{
    visibility: visible;
}
.modal-overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay,
.modal_standard.is-visible .modal-overlay,
.modal_csv.is-visible .modal-overlay{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal-wrapper{
    position: relative;
    z-index: 9999;
    padding: 15px 0;
    top: 6em;
    left: 50%;
    width: 500px;
    margin-left: -16em;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}
.modal-transition{
    transform: translateY(-10%);
    opacity: 0;
}
.modal.is-visible .modal-transition,
.modal_standard.is-visible .modal-transition,
.modal_csv.is-visible .modal-transition{
    transition: all 0.3s 0.12s;
    transform: translateY(0);
    opacity: 1;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    width: auto;
}
.icon-close{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.icon-close:hover{
    opacity: .5;
}

.standard_table{
    width: 470px;
    margin: 15px auto 15px auto;
    border-collapse: collapse;
}
.standard_table th,
.standard_table td{
    padding: 10px;
    text-align: left;
}
.standard_table th{
    border-top: 1px solid #ccc;
    border-bottom: 2px solid #ccc;
    background-color: #f2f2f2;
}
.standard_table td{
    border-bottom: 1px solid #ccc;
}
.standard_table tr:nth-child(even){
    background-color: #f9f9f9;
}

/*.pagination*/
.pagination_list{
    text-align: center;
    margin: 30px 0;
}
.pagination{
    margin: 0 auto;
    display: inline-block;
    background: #fff;
    border-radius: 4px;
}
.pagination li{
    float: left;
}
.pagination li span,
.pagination li a{
    color: #437ec4;
    border: 1px solid #dee2e6;
    padding: 8px 10px;
    display: inline-block;
    cursor: pointer;
    margin-left: -1px;
}
.pagination li a:hover{
    background-color: #437ec4;
    color: #fff;
}
.active {
    z-index: 1;
    background: #437ec4;
    border-color: #437ec4;
}
.pagination li.active span{
    color: #fff;
}
/*end of .pagination*/

/*.csv_setting*/
.modal_csv .modal-wrapper{
    width: 1200px;
    margin-left: 0;
    background: #eff0f4;
    padding: 10px 0 0 0;
}
.modal_csv .modal-transition{
    transform: translate(-50%,-10%);
}
.modal_csv.is-visible .modal-transition{
    transform: translate(-50%,0);
}
.csv_card{
    width: 1170px;
    margin: 0 auto 20px auto;
    background: #fff;
    border-radius: 4px;
}
.csv_output{
    border-bottom: 1px solid #ccc;
    padding: 10px;
}
.modal_ttl_02,
.modal_ttl_03{
    font-size: 16px;
    line-height: 1;
    display: inline-block;
}
.modal_ttl_03{
    font-size: 14px;
    padding: 20px 10px 10px 10px;
}
.csv_ul{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    padding: 0 10px;
}
.csv_ul li{
    align-self: center;
}
.csv_ul li:nth-child(1),
.csv_ul li:nth-child(3){
    width: 320px;
}
.csv_ul li:nth-child(2),
.csv_ul li:nth-child(4){
    width: 260px;
}
.operating_item{
    padding: 10px 27px;
    text-align: center;
}
.btn_operating_item .fa{
    color: #595959 !important;
}
.form_control{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    min-height: 640px;
    background: transparent;
}
.btn_operating_item{
    width: 100%;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 7px 0;
    text-align: center;
    margin: 10px 0 0 0;
    cursor: pointer;
}
.btn_operating_item:hover{
    background: #eff0f4;
}
.modal_txt_03{
    font-size: 16px;
    line-height: 1.3;
    padding: 30px 10px;
}
.csv_card form{
    padding: 0;
}
.csv_card .modal_footer{
    background: #eff0f4;
    padding: 30px 0;
}
/*end of .csv_setting*/

/*.product_list_empty*/
.product_list_empty{
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
}
.empty_txt_01{
    font-size: 16px;
    line-height: 1;
    padding: 0 0 20px 0;
    color: #6c757d
}
.empty_txt_02{
    font-size: 14px;
    line-height: 1.5;
    color: #6c757d
}
/*end of .product_list_empty*/

/*end of product_list_index*/

/* confirm dialog */
.dialog-ovelay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 999999;
}
.dialog-ovelay .dialog{
    width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,.2);
    border-radius: 3px;
    overflow: hidden;
}
.dialog-ovelay .dialog header{
    padding: 10px 8px;
    background-color: #f6f7f9;
    border-bottom: 1px solid #e5e5e5
}
.dialog-ovelay .dialog header h3{
    font-size: 14px;
    margin: 0;
    color: #555;
    display: inline-block
}
.dialog-ovelay .dialog header .fa-close{
    float: right;
    color: #c4c5c7;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0 2px;
    border-radius: 1px;  
}
.dialog-ovelay .dialog header .fa-close:hover {
    color: #b9b9b9;
}
.dialog-ovelay .dialog header .fa-close:active {
    box-shadow: 0 0 5px #673AB7;
    color: #a2a2a2;
}
.dialog-ovelay .dialog .dialog-msg{
    padding: 12px 10px;
}
.dialog-ovelay .dialog .dialog-msg p{
    margin: 0;
    font-size: 15px;
    color: #333;
}
.dialog-ovelay .dialog footer{
    border-top: 1px solid #e5e5e5;
    padding: 8px 10px
}
.dialog-ovelay .dialog footer .controls{
    direction: rtl;
}
.dialog-ovelay .dialog footer .controls .button {
    padding: 5px 15px;
    border-radius: 3px;
}
.button{
  cursor: pointer;
}
.button-default{
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(204, 204, 204, 0.5);
    color: #5D5D5D;
}
.button-danger{
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: #f5f5f5;
}
/*end of confirm_dialog*/
