.c-contentsArea-entry{
    display: table;
    padding: 0 15px 60px;
    width: 100%;
}
.standard-container p{
    margin-top: 20px;
    margin-bottom: 15px;
}
.list-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
}
.list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 4px;
    border-top-right-radius: 0.25rem;
}
.list-group-item:first-child {
    border-top: 0;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 4px;
    border-top-right-radius: 0.25rem;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 12px 20px;
    padding: 0.75rem 1.25rem;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.list-group-item form{
    padding: 0 !important;
}
form{
    display: block;
    margin-top: 0em;
    padding: 0 15px 60px !important;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 6px 12px;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a4c1e2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(67, 126, 196, 0.25);
}
.form-row, .form-entry-label, .form-entry-text, .form-entry-btn, .mode-view-entry{
    padding-right: 5px;
    padding-left: 5px;
}
.mode-view-entry i{
    color: #999;
}
.text-secondary {
    color: #54687A;
}
.form-row, .list-row-id, .mode-view, .mode-view-right{
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    padding-bottom: 0;
}
.form-entry-label, .row-id-entry, .mode-view-entry, .mode-view-no,.mode-view-label, .mode-view-right{
    align-self: center;
    width: auto;
    max-width: none;
    flex: 0 0 auto;
}
.row-id-entry, .row-id-title ,.mode-view-no, .mode-view-right{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.mode-view-label{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.mode-view-label a{
    color: #437ec4 !important;
    text-decoration: none;
    background-color: transparent;
}
.mode-view-right{
    text-align: right !important;
}
.up-arrow, .delete-btn{
    pointer-events: none;
}
.mode-view-right .btn {
    font-style: normal;
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    background-color: transparent;
    border-color: transparent;
    opacity: 0.65;
    padding: 6px 12px;
    width: auto;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.row-id-title{
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
}
.form-entry-text{
    flex: 0 0 25%;
    max-width: 25%;
}
.form-entry-btn .btn{
    color: #595959;
    background-color: #FFFFFF;
    border-color: #595959;
    color: #595959;
    cursor: pointer;
}
.ladda-label {
    position: relative;
    z-index: 3;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) all !important;
}
.ladda-button .ladda-spinner {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 32px;
    top: 50%;
    margin-top: 0;
    opacity: 0;
    pointer-events: none;
    color: #595959;
}
.btn{
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    padding: 0.375rem 0.75rem;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-ec-regular{
    color: #212529;
    background-color: #FFFFFF;
    border-color: #595959;
    cursor: pointer;
}
.btn-ec-regular:hover {
    color: #262626;
}

.btn-ec-regular:hover {
    color: #212529;
    background-color: #F2F2F2;
    border-color: #262626;
}
.btn:hover, .btn:focus {
    text-decoration: none;
}
a:hover {
    color: #2d598e;
    text-decoration: underline;
}
.btn-ec-actionIcon {
    color: #000;
    background-color: transparent; 
    border-color: transparent; 
    padding: 6px 12px;
    cursor: pointer;
    margin-right: 5px;
}
.pointer-action{
    pointer-events: none;
}