.store_preview_title{
    padding: 15px;
}
.store_preview_ttl_01,
.store_preview_txt_02,
.store_preview_txt_03{
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    color: #437ec4;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    width: auto;
    padding: 0;
    text-decoration: underline;
}
.store_preview_ttl_01:after{
	content: '';
	background-color: #000; 
	right: -15px;
	top: 2px;
	display: block;
	height: 16px;
	position: absolute;
	width: 2px;
}
.store_preview_txt_02{
	padding: 0 0 0 15px;
	color: #000;
	text-decoration: none;
}
.store_preview_ttl_02{
	font-size: 20px;
	line-height: 1;
	color: #000;
	padding: 15px;
	background: #fff;
	margin: 0;
}
.store_preview_txt_03{
	display: inline-block;
	color: #000;
	padding: 30px 15px;
	width: 100%;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin: 0;
}

.preview_form{
	width: 100%;
	background: #fff;
}
.preview_form_table{
	width: 100%;
}
.preview_form_table th,
.preview_form_table td{
	border-bottom: 1px solid #ccc;
	padding: 15px;
	border-collapse: collapse;
	text-align: left;
	font-size: 14px;
	line-height: 1;
	vertical-align: top;
	display: table-cell;
}
.preview_form_table th{
	font-weight: bold;
}
.img_detailed_01{
	width: 500px;
	height: auto;
	padding: 5px;
	border: 1px solid #ccc;
}
.img_detailed_02{
	width: 300px;
	height: auto;
	padding: 5px;
	border: 1px solid #ccc;
}
.preview_form_ttl_01{
	font-size: 16px;
	line-height: 1;
	color: #000;
	font-weight: bold;
	padding: 0 0 15px 0;
}
.preview_form_txt_01{
	font-size: 14px;
	line-height: 1.5;
	color: #000;
	font-weight: normal;
}
.preview_form_table tr td:first-child{
	width: 37.5%;
}
.preview_form_table tr td:last-child{
	width: 62.5%;
}
.preview_form_table_01 tr td:first-child{
	width: 62.5%;
}
.preview_form_table_01 tr td:last-child{
	width: 37.5%;
}
.preview_form_table_02 tr td{
	width: 25%;
}
.preview_form_table_02 tr td:first-child,
.preview_form_table_02 tr td:last-child{
	width: 25%;
}
.preview_form_table_02 tr td{
	text-align: center;
}
.preview_form_txl_02{
	font-size: 14px;
	line-height: 1;
	color: #000;
	font-weight: normal;
	padding: 15px 0;
}
.preview_form_table_04 td{
	border: 1px solid #fff;
}
.preview_form_table_04 td:first-child{
	width: 30%;
	background: #ccc;
}
.preview_form_table_04 td:last-child{
	width: 70%;
	background: #eff0f4;
}

