body{
    overflow: auto;
}
.register_ttl_01{
    font-size: 20px;
    line-height: 1;
    color: #000;
    padding: 15px;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid #000;
}
.register_form_table{
	width: 100%;
    margin: 0 auto;
	background: #fff;
	padding: 20px 0 100px 0;
}
.register_form_table th,
.register_form_table td{
    padding: 15px;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    vertical-align: top;
}
.register_form_table td:nth-child(odd){
	width: 20%;
}
.register_form_table td:nth-child(even){
	width: 80%;
}
#modal_desiredPassword{
    border: none;
    font-size: 18px;
    padding: 0;
}
.form_control{
    width: 750px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.form_control_01{
    width: 728px;
}
.form_control_02{
    width: 656px;
}
.form_control_03{
	width: 100%;
}
.form_control_04{
    width: 292px;
}
.form_control_06{
    width: 684px;
}
.status_txt_01,
.status_txt_02{
	font-size: 15px;
	line-height: 1.6;
	color: #495057;
}
.post_code_link{
    font-size: 15px;
    line-height: 1.3;
    display: inline-block;
    text-decoration: underline;
}
.status_txt_02{
	width: 90px;
	display: inline-block;
}
.form_control_05{
    width: 60px;
}
.form_control_07{
    width: 468px;
}
.register_address{
	margin: 0 0 15px 0;
}
.register_ph{
	display: inline-block;
    width: 234px;
}
.register_ph_01{
	margin: 0 20px;
}
.register_industry,
.register_type{
	display: inline-block;
    width: 362px;
}
.register_industry{
	margin: 0 20px 0 0;
	vertical-align: top;
}
.reigister_bank{
	display: inline-block;
    width: 356px;
}
.bank_txt_01{
    display: inline-block;
	font-size: 15px;
	line-height: 1.3;
	color: #495057;
}
.register_sub{
	display: inline-block;
    width: 373px;
	margin: 15px 0;
}
.register_type_ttl_01{
    font-size: 14px;
    line-height: 1.3;
    padding: 10px 0 0 0;
}
.modal_register{
    position: fixed;
    overflow: scroll;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.modal_register.is-visible{
    visibility: visible;
}
.modal-overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal_register.is-visible .modal-overlay{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal-wrapper{
    position: relative;
    z-index: 9999;
    padding: 15px 0;
    width: 800px;
    top: 10%;
    margin: 0 auto 50px auto;
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}
.modal-transition{
    transform: translateY(-10%);
    opacity: 0;
}
.modal_register.is-visible .modal-transition{
    transition: all 0.3s 0.12s;
    transform: translateY(0);
    opacity: 1;
}
.modal-close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 0;
    width: auto;
}
.icon-close{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.icon-close:hover{
    opacity: .5;
}
.modal_ttl_01{
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 0 10px 15px 10px;
}
.modal_register_table{
    padding: 15px;
    width: 100%;
}
.modal_register_table td{
    padding: 15px 0;
    vertical-align: top;
}
.modal_register_table td:nth-child(odd){
    width: 30%;
    padding: 25px 0 15px 0;
}
.modal_register_table td:nth-child(even){
    width: 70%;
}
.modal_register_table .form_control{
    width: 100%;
}
.modal_register_table .form_control_02{
    width: 510px;
}
.btn_conversation{
    color: #fff;
    font-size: 14px;
    line-height: 1;
    background-color: #437EC4;
    padding: 6px 11px;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid transparent;
    margin: 5px;
    min-width: 70px;
}
.btn_conversation:hover{
   background: #2963AB;
   border: 2px solid #c2c2c2;
}
.modal_footer{
    text-align: center;
}