supplier_list_index*/
.supplier_list_title{
    margin-bottom: 20px;
    padding: 15px;
    width: 100%;
    background: #fff;
}
.supplier_list_ttl{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 20px;
    line-height: 1;
    vertical-align: middle;
}
.supplier_list_row_01{
    width: 100%;
    display: block;
    font-size: smaller;

}
.supplier_list_form{
    width: 100%;
    padding: 0 15px;
}
.form_entry_label{
    color: #666;
}
.form_entry_row{
    margin-top: 10px;
}
.admin_search, .btn{   
    padding: 5px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-right: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.right_side_btn{
    position: absolute;
    right: 0;
    margin-right: 15px;
}
.supplier_list_row_02, .supplier_list_row_04, .supplier_list_row_03{
    width: 100%;
    display: block;
    font-size: 16px;
    color: #495057;
    margin-top: 20px;
    padding: 0 15px;
}
.supplier_list_row_03{
    margin-top: 30px;
}
.supplier_list_row_02 a, .supplier_list_row_04 a{
    text-decoration: underline;
    padding: 3px;
    color: #469bc6;
}
.supplier_list_row_02 b, .supplier_list_row_04 b {
    padding: 3px;
}
.table_form{
    width: 100%;
    padding: 0;
    margin: 10px auto 30px auto;
    color: #666;
    font-size: 90%;
    text-align: left;
    line-height: 1.5;
    border: 1px solid #666;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

.table_form tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    padding: 10px;
}
.table_form th, .table_form td {
    font-weight: bold;
    vertical-align: top;
    padding: 5px;
    line-height: 1.5;
    background: #fff;
    border-left: 1px solid #666;
    border-right: 1px solid #666;
}
.table_form th:first-child, .table_form td:first-child{
    padding-left: 20px;
}
.table_form th, .table_form td{
    border-bottom: 1px dotted #437EC4;
}
.table-form tr:last-child{
    border-bottom: none;
}
.table_form tr:nth-child(even){
    border-bottom: 1px solid #666;
}
.table_form tr td:nth-child(3){
    border-right: 1px dotted red;
}

.table_form a{
    line-height: 1.5;
    color: #437EC4;
    text-decoration: underline;
}
.table_btn{
    margin-bottom: 5px;
    padding: 5px;
    width: 135px;
    border: 1px solid #ced4da;
    background-color: #F0F0F0;
    color: #000;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
}


.modal, .modal02, .modal03{
    position: fixed;
    overflow: scroll;
    overflow-x: hidden;
    z-index: 10000;
    top: 0;
    left: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
}
.modal.is-visible,.modal02.is-visible, .modal03.is-visible,
.modal_standard.is-visible{
    visibility: visible;
}
.modal-overlay{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 0.3s, opacity 0.3s;
}
.modal.is-visible .modal-overlay,.modal02.is-visible .modal-overlay, 
.modal03.is-visible .modal-overlay,
.modal_standard.is-visible .modal-overlay{
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}
.modal-wrapper{
    position: relative;
    z-index: 9999;
    padding: 15px 0;
    top: 6em;
    left: 50%;
    width: 500px;
    /*margin-left: -16em;*/
    background-color: #fff;
    box-shadow: 0 0 1.5em hsla(0, 0%, 0%, 0.35);
}
.modal-transition{
    transform: translate(-50%,-10%);
    opacity: 0;
}
.modal.is-visible .modal-transition,.modal02.is-visible .modal-transition, 
.modal03.is-visible .modal-transition,
.modal_standard.is-visible .modal-transition{
    transition: all 0.3s 0.12s;
    transform: translate(-50%,0);
    opacity: 1;
}
.modal-close{
    position: absolute;
    top: 1px;
    right: 10px;
    padding: 0;
    width: auto;
}
.icon-close{
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.icon-close:hover{
    opacity: .5;
}
/*modal01*/
.list_info_ttl_01{
    font-size: 20px;
    line-height: 1;
    color: #000;
    padding: 15px;
    background: #fff;
    margin: 0;
    border-bottom: 1px solid #000;
}
.list_info_form_table{
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px 0;
}
.list_info_form_table th,
.list_info_form_table td{
    padding: 10px 5px;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    vertical-align: top;
}
.list_info_form_table td:nth-child(odd){
    width: 20%;
}
.list_info_form_table td:nth-child(even){
    width: 80%;
}
.form_control{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}
.form_control_001{
    padding: 0;
    width: 7%;
}
.form_control_002{
    width: 10%;
    padding: 0;
}

.form_control_01{
    width: 96%;
}
.form_control_02{
    width: 84%;
}
.form_control_03{
    width: 100%;
}
.form_control_04{
    width: 73%;
}
.status_txt_01,
.status_txt_02{
    font-size: 15px;
    line-height: 1.3;
    color: #495057;
}
.list_info_address{
    margin: 0 0 15px 0;
}
.status_txt_02{
    width: 90px;
    display: inline-block;
}
.list_info_ph{
    display: inline-block;
    padding-left: 3.3px;
}
.list_info_ph_01{
    /*margin: 0 33px;*/
}
.form_control_ph{
    width: 95%;
    padding-left: 12.5px;
    padding-right: 12.5px; 
}
.list_info_industry,
.list_info_type{
    display: inline-block;
    width: 47%;
}
.list_info_industry{
    margin: 0 20px 0 0;
    vertical-align: top;
}
.reigister_bank{
    display: inline-block;
    width: 46%;
}
.bank_txt_01{
    font-size: 15px;
    line-height: 1.3;
    color: #495057;
}
.list_info_sub{
    display: inline-block;
    width: 49%;
    margin: 15px 0;
}

.modal_ttl_01{
    font-size: 18px;
    line-height: 1;
    font-weight: bold;
    margin: 0;
    display: block;
    border-bottom: 1px solid #e9ecef;
    padding: 0 10px 15px 10px;
}
.modal_list_info_table{
    padding: 15px;
    width: 100%;
}
.modal_list_info_table td{
    padding: 15px 0;
    vertical-align: top;
}
.modal_list_info_table td:nth-child(odd){
    width: 30%;
}
.modal_list_info_table td:nth-child(even){
    width: 70%;
}
.modal_list_info_table .form_control{
    width: 100%;
}
.modal_list_info_table .form_control_02{
    width: 510px;
}
.btn_conversation{
    color: #fff;
    font-size: 14px;
    line-height: 1;
    background-color: #437EC4;
    padding: 5px 11px;
    width: auto;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid transparent;
    margin: 5px;
}
.btn_conversation:hover{
   background: #2963AB;
   border: 2px solid #c2c2c2;
}
.modal_footer{
    text-align: center;
}
.modal .modal-wrapper{
    width: 850px;
}

.btn_update, .btn_modal{
    width: 170px;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 120%;
}
.btn_modal{
    background: #f3f3f3;
    color: #999;
}
/*end of modal01*/
/*modal02*/
/*modal02*/
.modal02 .modal-wrapper{
    width: 800px;
    padding: 0px 30px;
    border-radius: 5px;
}
.article_edit_title{
    padding: 15px;
}
.article_edit_ttl_01,
.article_edit_txt_02,
.article_edit_txt_03{
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 18px;
    color: #437ec4;
    line-height: 1;
    vertical-align: middle;
    position: relative;
    width: auto;
    padding: 0;
    text-decoration: underline;
}
.article_edit_ttl_01:after{
    content: '';
    background-color: #000; 
    right: -15px;
    top: 2px;
    display: block;
    height: 16px;
    position: absolute;
    width: 2px;
}
.article_edit_txt_02{
    padding: 0 0 0 15px;
    color: #000;
    text-decoration: none;
}
.article_edit_ttl_02{
    font-size: 20px;
    line-height: 1;
    color: #000;
    padding: 15px;
    background: #fff;
    margin: 0;
}
.article_edit_txt_03{
    color: #000;
    padding: 30px 0 30px 15px;
    width: 100%;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
.article_form{
    width: 100%;
    background: #fff;
}
.article_form_table{
    width: 100%;
    padding: 0 0 30px 0;
}
.article_form_table th,
.article_form_table td{
    border-bottom: 1px solid #ccc;
    padding: 15px;
    border-collapse: collapse;
    text-align: left;
    font-size: 14px;
    line-height: 1;
    vertical-align: top;
}
.article_form_table th{
    font-size: 16px;
}
.article_form_table td{
    border: none;
}
.article_form_table td:nth-child(even){
    width: 60%;
}
.admin_search,
.admin_search_textarea{
    width: 100%;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.badge{
    display: inline-block;
    padding: 2px 4px;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border-radius:4px;
    background-color: #437ec4;
}
.upload_zone{
    padding: 42px 0 42px 10px;
    border: 1px dashed #ccc !important;
}
.file_upload{
    display: inline-block;
}
.btn_file_upload{
    padding: 3px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    cursor: pointer;
}
.btn_file_upload:hover{
    background: #dee2e6;
}
.fa-cloud-upload::before{
    color: #ccc;
}
.form_ttl_01{
    display: inline-block;
    margin: 0 0 0 10px;
}
.fa-3x{
    vertical-align: middle;
}
.gallery{
    display: inline-block;
    width: auto;
    max-height: 170px;
    background-color: #f5f6f8;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.gallery img:after{
    display: block;
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
}
.drap_drop_txt{
    display: none;
    font-size: 14px;
    line-height: 1;
    color: #000;
    margin: 10px 0;
}
.gallery .overlay{
    width: 170px;
    height: auto;
    vertical-align: top;
    position: relative;
}
.overlay:hover{
    opacity: .5;
}
.overlay:hover:after{
    display: block;
    content: "";
    width: 100%;
    height:100%;
    position: absolute;
    background: rgba(0,0,0,.5);
    top: 0;
    background: red;
    height: 180px;
    z-index: 99999999;
}
.admin_search_textarea{
    min-height: 198px;
}
.article_form_table_01,
.article_form_table_02{
    border-top: 1px solid #ccc;
}
.article_form_table_01 td{
    width: 40%;
}
.article_form_table_02 td{
    width: 25%;
}
.article_form_table_02 td:nth-child(odd),
.article_form_table_02 td:nth-child(even){
    width: 25%;
}
.form_ttl_02{
    font-size: 14px;
    line-height: 1.5;
}
.establishment_text{
    width: 96%;
    margin: 5px 0;
}
.establishment_select{
    padding: 5px 10px;
    border: 1px solid #ced4da;
    margin: 5px 0;
    width: 84%;
}
.admin_search_02{
    width: 84%;
}
.admin_search_03{
    width: 62%;
}
.admin_search_04{
    width: 77%;
}
.confirm_btn{
    color: #fff;
    font-size: 16px;
    line-height: 1;
    background-color: #437EC4;
    padding: 5px 60px; 
    width: auto;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid transparent;
    margin: 30px;
    text-align: center;
}
/*end of modal02*/

.loading-indicator {
    z-index: 10001;
    display: block;
    position: absolute;
    left: calc(50% - 100px);
    top: calc(30% + 100px);
    width: 110px;
    height: auto;
}

.content-holder {
    margin: 0px 35px;
}

.error_msg {
    display: none;
}

input:disabled {
    background: #F0F0F0;
    cursor: not-allowed;
}
.cancel_btn, .user_delete_btn {
    color: #fff;
    font-size: 14px;
    line-height: 1;
    background-color: #437EC4;
    padding: 5px 20px; 
    width: auto;
    display: inline-block;
    border-radius: 4px;
    border: 2px solid transparent;
    margin: 5px;
}

/*modal03*/

/*end of modal03*/
/*end of supplier_list_index