{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<style>
    .ec-categoryRole {
        background: transparent;
        padding: 60px 0 70px 0;
    }
    .ec-secHeading .ec-secHeading__en{
        background: #ab992a;
        color: #fff;
        padding: 10px 27px 25px;
        display: inline-block;
        margin: 0 0 15px 20px;
    }
    .ec-categoryRole .ec-categoryRole__listItem{
        width: calc(100% / 2);
    }
    .ec-categoryRole .ec-categoryRole__listItem{
        margin: 0;
    }
    .ec-categoryRole__listItem a{
        display: inline-block;
        position: relative;
        z-index: 1;
    }
    .category_list{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: rgba(0,0,0,.67);
        padding: 21px 44px;
        text-align: center;
		min-width: 54%;
    }
	.category_list_right{
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background: rgba(0,0,0,.67);
        writing-mode: vertical-rl;
        padding: 5px;
    }
    .category_txt_01,
    .category_txt_02{
        font-size: 18px;
        line-height: 1;
        color: #fff;
        margin: 0 0 15px 0;
        padding: 0;
    }
    .category_txt_02{
        margin: 0;
        font-size: 12px;
        line-height: 2;
    }
    .ec-categoryRole .ec-categoryRole__listItem:not(:last-of-type){
        margin-right: 15px;
    }
    .ec-categoryRole .ec-categoryRole__list{
        padding: 0 20px;
    }
    .recruit{
        position: relative;
        padding: 0 20px;
        margin: 20px 0 0 0;
    }
 /*For SP*/
    @media only screen and (max-width: 767px){
        .ec-categoryRole{
            padding: .60rem 0 .70rem 0;
        }
        .ec-categoryRole .ec-categoryRole__listItem{
            width: 50%;
        }
        .ec-categoryRole .ec-categoryRole__listItem a{
            display: inline-block;
            width: 95%;
        }
        .ec-categoryRole .ec-categoryRole__listItem:nth-child(even){
            text-align: right;
        }
        .ec-categoryRole .ec-categoryRole__listItem:not(:last-of-type){
            margin-right: 0;
        }
        .ec-secHeading .ec-secHeading__en{
            padding: .10rem .27rem .25rem;
            margin: 0 0 .15rem .20rem;
            font-size: .18rem;
        }
        .line{
            margin-top: -.30rem;
        }
        .category_txt_01,
        .category_txt_02{
            font-size: .14rem;
            margin: 0 0 .15rem 0;
        }
        .category_list{
            padding: .21rem .17rem;
        }
    }
    /*end of SP*/
    
</style>

<div class="ec-categoryRole">
        <div class="ec-role">
        <div class="ec-secHeading">
            {#<span class="ec-secHeading__en">{{ 'CATEGORY'|trans }}</span>#}
            {#<span class="ec-secHeading__line"></span>#}
            <span class="ec-secHeading__en">{{ '特集'|trans }}</span>
            <div class="custom_line">
                <div class="line"></div>
            </div>
        </div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('user_data',{'route':'gift'}) }}">
                    <img src="{{ asset('assets/img/category/img_gift.png') }}">
                    {#<div class="category_list_right">#}
                    {#    <p class="category_txt_01">お中元・お歳暮</p>#}
                    {#    <p class="category_txt_02">#}
                    {#        いつもと一味違う、手作りのぬくもりがある記憶に#}
                    {#        残る物を贈ってみませんか？<br>#}
                    {#        感謝の気持ちをこめて「伝索」のお中元。#}
                    {#    </p>#}
                    {#</div>#}
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a  href="{{ url('user_data',{'route':'pick_up'}) }}">
                    <img src="{{ asset('assets/img/category/img_pickup.png') }}">
                    {#<div class="category_list_right">#}
                    {#    <p class="category_txt_01">厳選の逸品</p>#}
                    {#    <p class="category_txt_02">#}
                    {#        今回は、お酒をおいしく飲むために、<br>#}
                    {#        ちょっと贅沢して、ぐい吞みにこだわってみました。<br>#}
                    {#        ただいま、伝索「ぐい吞みフェア」開催中。<br>#}
                    {#        伝索で一押しの逸品を特集しています。<br>#}
                    {#        あなたの一品を探してください。）#}
                    {#    </p>#}
                    {#</div>#}
                </a>
            </div>
            {#<div class="ec-categoryRole__listItem">#}
            {#    <a href="#" target="_blank">#}
            {#        <img src="{{ asset('assets/img/category/img_top_bna_businessgift.jpg') }}">#}
            {#    </a>#}
            {#</div>#}
        </div>
         {#<div class="ec-categoryRole__listItem">#}
            {#    <a href="http://renew.den-saku.com/supplierdensaku/public/jobSearch">#}
            {#        <img src="{{ asset('assets/img/category/img_top_bna_recruit.jpg') }}">#}
            {#    </a>#}
            {#</div>#}
            
            <div class="recruit">
                <a href="http://renew.den-saku.com/supplierdensaku/public/jobSearch">
                    <img src="{{ asset('assets/img/category/img_recruit.png') }}">
                    {#<div class="category_list">#}
                    {#    <p class="category_txt_01">担い手募集</p>#}
                    {#    <p class="category_txt_02">伝索では日本全国の伝統工芸職人の後継者の募集をしております。</p>#}
                    {#    <p class="category_txt_02">是非、日本の伝統の担い手になりませんか？</p>#}
                    {#</div>#}
                </a>
                
            </div>
    </div>
     
</div>