{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<style>
    .ec-footerRole{
        padding: 30px 0 0 0;
        margin-top: 60px;
        background: #4c5f00;
    }
    .ec-footerTitle{
        padding: 0;
        background: #181d00;
        padding: 24px 0;
    }
    .ec-footerTitle .ec-footerTitle__logo{
        margin-bottom: 0;
    }
    .footer_ul_01{
		width: 700px;
		margin: 0 auto;
		padding: 0;
	}
	.footer_ul_01 li{
	    float: left;
	    list-style-type: none;
	}
	.footer_ul_01 li:nth-child(odd){
	    width: 30%;
	    padding: 16px 0 0 0;
	}
	.footer_ul_01 li:nth-child(even){
	    width: 70%;
	    padding: 0 0 0 35px;
	}
	/*.footer_ul_01 h3{*/
	/*	font-size: 14px;*/
	/*	padding: 0 0 10px 0;*/
	/*}*/
	.footer_ul_01 p{
		text-align: left;
		font-size: 12px;
		line-height: 1;
		color: #fff;
	}
	.footer_ttl_01{
        font-size: 23px;
        line-height: 1;
        color: #fff;
        text-align: center;
        padding: 0;
        margin: 0 0 15px 0;
        text-align: left;
    }
	.footer_logo img{
	    width: 210px !important;
	    height: auto;
	}
	.clearfix{
	    clear: both;
	}
	.ec-footerNavi{
	    width: 90%;
	     display: flex;
        flex-wrap: wrap;
        margin: 60px auto 40px auto;
	}
	.ec-footerNavi li{
	    width: 33.33%;
	    float: left;
	    text-align: center;
	}
	.ec-footerNavi .footer_list{
	    display: inline-block;
	    text-align: left;
	}
	.ec-footerNavi a{
	    text-decoration: none;
	    color: #fff;
	    line-height: 1.3;
	    font-size: 15px;
	}
	.ec-footerNavi a:hover{
	    opacity: .8;
	}
	.navi_txt_01{
	    font-size: 16px;
	    line-height: 1;
	    display: block;
	    padding: 0 0 10px 0;
	    margin: 0;
	    font-family: 'Sawarabi Mincho', sans-serif;
	}
	.address{
	    color: #fff;
	    line-height: 1;
	    padding: 0;
	}
	.address .content_txt_01{
	    font-size: 15px;
	    line-height: 1.4;
	    margin: 0;
	    padding: 0;
	}
	.address .content_txt_02{
	    font-size: 14px;
	}
	.address a{
	    color: #fff;
	}
	.social{
	    margin: 0 0 30px 0;
	    text-align: center;
	}
	.social a{
	    display: inline-block;
	    padding: 0;
	    margin: 0;
	}
	.social img{
	    width: 50px !important;
	    height: 50px !important;
	}
	.instagram {
        margin: 0 40px;
    }
    .footer_hr{
        border-top: 2px solid #fff;
    }
    @media only screen and (max-width: 767px){
        .ec-footerRole{
            padding: .30rem 0 0 0;
            margin-top: 60px;
        }
        .footer_ul_01{
            width: 100%;
            padding: 0 .30rem;
        }
        .footer_ul_01 li:nth-child(odd){
    	    width: 30%;
    	    padding: .16rem 0 0 0;
    	}
    	.footer_ul_01 li:nth-child(even){
    	    width: 70%;
    	    padding: 0 0 0 .35rem;
    	}
    	.footer_logo img{
    	    width: 100% !important;
    	    height: auto;
    	}
    	.footer_ttl_01{
    	    font-size: .23rem;
    	    margin: 0 0 .15rem 0;
    	}
    	.address .content_txt_01{
    	    font-size: .15rem;
    	}
    	hr{
    	    margin-top: .20rem;
    	    margin-bottom: .20rem;
    	}
    	.ec-footerNavi{
    	    margin: .60rem auto .40rem auto;
    	}
    	.navi_txt_01{
    	    font-size: .16rem;
    	}
    	.ec-footerNavi a{
    	    font-size: .15rem;
    	}
    	.social{
    	    margin: 0 0 .30rem 0;
    	}
    	.social img{
    	    width: .50rem !important;
    	    height: .50rem !important;
    	}
    	.ec-footerTitle{
    	    padding: .24rem 0;
    	}
    	.ec-footerTitle .ec-footerTitle__copyright{
    	    font-size: .10rem;
    	}
    	.ec-blockTopBtn{
    	    bottom: .29rem;
    	}
    	.pagetop{
    	    padding: .19rem;
    	}
    }
</style>
<div class="ec-footerRole">
    <div class="ec-footerRole__inner">
        
        
          <ul class="footer_ul_01">
    		<li>
    			<a class="footer_logo" href="{{ url('homepage') }}">
    			     {#<img src="{{ asset('assets/img/top/logo.png') }}" alt="logo" width="210" height="50">#}
    			     <img src="{{ asset('assets/img/footer_logo.png') }}" alt="logo" width="210" height="auto">
    			</a>
    		</li>
    		<li>
    		    <div class="address">
    		        <h3 class="footer_ttl_01">会社概要</h3>
                    <p class="content_txt_01">株式会社マネジメントパートナーズ</p>
                    <p class="content_txt_01">〒163-0713 東京都新宿区西新宿2-7-1 小田急第一生命ビル13F</p>
                    <div class="content_txt_01 phone">
                        TEL：<a href="tel:+03-6911-3010">03-6911-3025</a>
                    </div>
                </div>
    		</li>
    		<div class="clearfix"></div>
	    </ul>
	    <hr class="footer_hr">
	    <ul class="ec-footerNavi">
           <li>
                <div class="footer_list">
                    <a href="/user_data/whats_link" target="_blank">{{ 'リンクについて'|trans }}</a><br>
                    <a href="/user_data/privacy" target="_blank">{{ 'プライバシーポリシー'|trans }}</a><br>
                    <a href="/user_data/sitepolicy" target="_blank">{{ 'サイトポリシー' |trans }}</a><br>
                    <a href="/user_data/company" target="_blank">{{ '運営会社' |trans }}</a><br>
                    <a href="/user_data/use" target="_blank">{{ '特定商取引に基づく表記' |trans }}</a><br>
                    <a href="/user_data/pay" target="_blank">{{ 'お支払い・配送・送料について'|trans }}</a><br>
                    <a href="/contact" target="_blank">{{ 'お問い合わせ' |trans }}</a>
                </div>
            </li>
            <li>
                <div class="footer_list">
                    <h3 class="navi_txt_01">事業者会員</h3>
                    <a href="/supplierdensaku/public/login" target="_blank">{{ 'ログイン'|trans }}</a><br>
                    <a href="/supplierdensaku/public/newRegistration" target="_blank">{{ '新規登録'|trans }}</a><br>
                    <a href="/user_data/publication" target="_blank">{{ '掲載について'|trans }}</a><br>
                    <a href="/user_data/ownerhelp" target="_blank">{{ 'ヘルプ'|trans }}</a><br>
                    <a href="/user_data/ownerqa" target="_blank">{{ 'よくある質問'|trans }}</a>
                </div>
            </li>
            <li>
                <div class="footer_list">
                    <h3 class="navi_txt_01">購入会員</h3>
                    {% if is_granted('ROLE_USER') %}
                        <a href="{{ url('logout') }}">{{ 'ログアウト'|trans }}</a>
                        <br>
                        <a href="{{ url('mypage') }}">{{' マイページ'|trans }}</a>
                    {% else %}
                         <a href="{{ url('mypage_login') }}">{{ 'ログイン'|trans }}</a>
                         <br>
                         <a href="{{ url('entry') }}">{{' 新規登録(無料)'|trans }}</a>
                    {% endif %}
                </div>
            </li>
        </ul>
        <div class="social">
            <a href="https://www.facebook.com/densakushop/posts/2429096427189392" target="blank">
                <img src="{{ asset('assets/img/social_icon/icon_fb.png') }}" alt="facebook" width="70" height="72">
            </a>
            <a href="https://www.instagram.com/" target="blank" class="instagram">
                <img class="instagram" src="{{ asset('assets/img/social_icon/icon_insta.png') }}" alt="facebook" width="70" height="72">
            </a>
            <a href="https://www.twitter.com/" target="blank">
                <img src="{{ asset('assets/img/social_icon/icon_twi.png') }}" alt="facebook" width="70" height="72">
            </a>
        </div>
    </div>
     <div class="ec-footerTitle">
            {#<div class="ec-footerTitle__logo">#}
            {#    <a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a>#}
            {#</div>#}
            <div class="ec-footerTitle__copyright">Copyright©MANAGEMENT PARTNERS CORPORATION.All Rights Reserved.</div>
        </div>
</div>