{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css'>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
    .header_bg{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 6;
        background: rgba(0,0,0,0.5);
    }
    .ec-categoryNaviRole{
        margin: 100px auto 0 auto;
    }
    .ec-headerTitle .ec-headerTitle__title h1{
        margin: 79.2px 0 0 0;
    }
    .ec-headerNaviRole .ec-headerNaviRole__left{
        width: auto;
    }
    .ec-headerNaviRole .ec-headerNaviRole__right{
        width: calc(100% / 1);
        text-align: center;
        display: inline-block;
    }
    .ec-headerNaviRole .ec-headerNaviRole__search{
        margin: 0;
    }
	.ec-headerSearch .ec-headerSearch__keyword .ec-input input{
        cursor: pointer;
    }
    .ec-headerSearch .ec-headerSearch__keywordBtn{
        top: 54%;
        right: 10%;
    }
    .ec-headerNaviRole .ec-headerNaviRole__nav{
        vertical-align: top;
    }
    .ec-cartNavi{
        height: auto;
        padding: 9px 17px 9px;
        border-radius: 10px;
    }
    .ec-headerRole__cart{
        display: inline-block;
        vertical-align: top;
    }
    
    .ec-headerNaviRole{
        padding: 35px 20px 10px 20px;
    }
    .online_subtitle{
        text-align: left;
    }
    .ec-headerSearch .ec-headerSearch__category .ec-select select{
        background: #F8F8F8;
        border-radius: 0;
        color: #808080;
        height: 40px;
        font-size: 16px;
        line-height: 1;
    }
    .ec-headerNaviRole__nav{
        padding: 0 8px 0 15px;
    }
    .ec-headerNav .ec-headerNav__itemLink{
        color: #fff;
        font-size: 15px;
        line-height: 1;
        font-family: YuGothic;
    }
    .ec-headerNav .ec-headerNav__itemIcon{
        color: #fff;
        font-size: 15px;
        line-height: 1;
    }
    .logo img{
        width: 210px !important;
        height: auto;
    }
    .ec-headerSearch .ec-headerSearch__category .ec-select.ec-select_search::before{
        border-top: 8px solid #7f7f7f;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: 1em;
        right: 1em;
    }
    .ec-itemNav__nav li ul li a{
        background: #150532;
    }
    .main_visual{
        margin: 0 auto;
    }
    .ec-headerSearch .ec-headerSearch__category .ec-select.ec-select_search{
        position: relative;
        border: 0;
        color: #808080;
        background-color: transparent;
        border: 1px solid #ccc;
        border-right: none;
        border-radius: 10px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-family: YuGothic;
    }
    .ec-headerSearch .ec-headerSearch__category{
        width: 33%;
    }
    .ec-headerSearch .ec-headerSearch__keyword{
        border-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 66.8%;
    }
    .ec-headerSearch .ec-headerSearch__keyword input[type="search"]{
        height: 40px;
        font-size: 16px;
        line-height: 1;
        color: #fff;
        font-family: YuGothic;
    }
   
/*header_search*/
    .fa-search{
        color: #fff;
    }
    .ec-headerNaviRole__right ::-webkit-input-placeholder{ 
      color: #fff !important;
    }
    
    .ec-headerNaviRole__right :-ms-input-placeholder{
      color: #fff !important;
    }
    
    .ec-headerNaviRole__right ::placeholder{
      color: #fff !important;
    }
    .ec-headerNaviRole__search{
        width: 500px;
    }
    .ec-headerSearch{
        width: 100%;
    }
    .ec-headerSearch .ec-headerSearch__category{
        width: 50%;
    }
    .ec-headerSearch .ec-headerSearch__keyword{
        background: transparent;
        width: 50%;
    }
    .ec-headerNav .ec-headerNav__itemLink{
        margin-right: 15px;
        margin-left: 15px;
    }
    #select2-drop{
        width: auto !important;
        display: inline-block;
    }
    .select2-search{
        display: none;
    }
    .select2-container{
        padding: 7px 0;
        width: 100%;
        text-align: left;
    }
    .select2-drop-active{
        margin-top: 2px;
    }
    .select2-container .select2-choice{
        padding: 5px 0 5px 1em;
        height: auto;
    }
    .select2-drop-active{
        border: none;
    }
    .select2-results .select2-highlighted{
        background: none;
        color: #000;
    }
    .select2-results{
        width: 500px;
        margin: 0;
        padding: 10px 14px;
    }
    .select2-result-label{
        /*background: red;*/
    }
    .select2-result-label::before{
        display: inline-block;
        font-family: fontAwesome;
        content: "\f0da";
        padding-right: 10px;
        position: absolute;
        left: 0;
    }
    .select2-results-dept-0 { /* do the columns */
      float: left;
      width: 20%;
    }
    img.flag{
        display :none;
    }
    .select2-container .select2-choice .select2-arrow{
        background: transparent;
        border-left: none;
        width: auto;
        height: auto;
        top: 0.5em;
        right: 1em;
    }
    .select2-container .select2-choice > .select2-chosen{
        color: #fff;
        font-size: 16px;
        line-height: 1;
        font-family: YuGothic;
    }
    .select2-container .select2-choice .select2-arrow b{
        background-image: none;
        border-bottom: 8px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        top: 1em;
        right: 1em;
        transform: rotate(180deg);
    }
    .select2-dropdown-open .select2-choice .select2-arrow b{
        transform: rotate(360deg);
    }
    .select2-container .select2-choice {
        border: none !important;
        background-image: none !important;
        box-shadow: none;
        background: none;
    }
    .select2-results li{
        width: 33.333%;
        font-size: 14px;
        padding: 5px;
        position: relative;
        font-family: YuGothic;
    }
    .ec-headerSearch .ec-headerSearch__category .ec-select.ec-select_search::before {
        display: none;
    }
    #s2id_e2_2.select2-container-multi .select2-choices .select2-search-choice {
      padding: 3px 18px 3px 5px;
    }
    #s2id_e2_2.select2-container-multi .select2-search-choice-close {
      left: auto;
      right: 3px;
    }
    .select2-choice{
        height: auto;
        padding: 5px 0 5px 1em;
    }
    .select2-results .select2-result-label{
        font-family: YuGothic;
    }
    /*end of header_search*/
    /*translate*/
    .ec-headerNaviRole__translate{
        position: absolute;
        top: 29%;
        right: 21%;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 0px 0px 0px 5px;
        display: inline-block;
        vertical-align: top;
        margin: 5px 0;
    }/*--mzmw--*/
    .ec-headerNaviRole__translate img{
        width: auto;
    }
    .ec-headerNaviRole__translate a{
        text-decoration: none;
    }
    .ec-headerNaviRole__translate select{
        background: transparent;
        border: none;
    }
    .goog-te-gadget img {
        vertical-align: middle;
        border: none;
    }
    .goog-te-gadget-icon {
        margin-left: 2px;
        margin-right: 2px;
        width: 19px;
        height: 19px;
        border: none;
        vertical-align: middle;
    }
    .goog-te-gadget-simple {
        font-size: 15px !important;
        background: transparent;
        border: none;
        /*width: 180px;*/
        display: block;
    }
    .goog-te-gadget {
        font-family: arial;
        font-size: 11px;
        color: #666;
        white-space: nowrap;
        padding: 3px 0;
    }
    .goog-te-gadget-simple .goog-te-menu-value {
        color: #fff;
        /*width: 144px;*/
        display: block;
        float: right;
        vertical-align: middle;
		margin: 0 4px 0 4px;
    }
    .goog-te-menu-value {
        text-decoration: none;
        color: #0000cc;
        white-space: nowrap;
       
    }
    .goog-te-gadget-simple .goog-te-menu-value span {
        text-decoration: none;
		color: #fff !important;
    }
    .goog-te-gadget-simple .goog-te-menu-value span:first-child{
        /*width: 115px;*/
        float: left;
        display: block;
    }
    .goog-te-menu-value img {
        margin-left: 2px;
        margin-right: 2px;
    }
    /* Hide option bar */
    .goog-te-banner-frame.skiptranslate {
        display: none !important;
    }

    body {
        top: 0px !important;
    }
    /*end of translate*/
    /*--------mzmw--------*/
    @media only screen and (min-width: 320px) and (max-width:480px){
        .ec-headerNaviRole__translate {
            top: 0.09rem !important;
        }
        .ec-headerNaviRole__nav-sp .ec-headerNav {
            top:5.2%  !important;
        }
        .goog-te-gadget-simple .goog-te-menu-value{
            padding-top: 0px;
        }
       .ec-headerSearch .ec-headerSearch__category .ec-select.ec-select_search{
            border-right: 1px solid #ccc;
            border-radius: 10px;
            border-top-right-radius: 10px; 
       }
       .ec-headerSearch .ec-headerSearch__category{
            width:100%;
       }
       .ec-headerSearch .ec-headerSearch__keyword{
            width:100%;
            border-bottom-left-radius:10px;
            border-top-left-radius: 10px;
       }
       .ec-headerNaviRole__search-sp{
            display: none;
       }
       .ec-headerSearch-sp{
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }
        .ec-headerNav .ec-headerNav__itemIcon{
            font-size: .35rem;
        }
        .ec-sm-right{
            top: 5px !important;
        }
        .ec-headerSearch .ec-headerSearch__keyword input[type="search"]{
            height: .53rem !important;
        }
        .ec-sm-logo{
            display: block;
        }
        .ec-sm-logo img{
            position: fixed;
            width: 25%;
            height: auto;
            top: 3%;
            left: 31%;
        }
        .ec-headerNaviRole__translate {
            top: 0.22rem !important;
        }
    }
    @media only screen and (min-width: 481px) and (max-width: 680px){
        .ec-headerNaviRole__translate {
            top: 0.22rem !important;
        }
        .ec-headerNaviRole__nav-sp .ec-headerNav {
            top: 3% !important;
        }
        .ec-sm-right{
            top: 10px !important;
        }
        .ec-headerSearch .ec-headerSearch__category{
            width:100%;
       }
        .ec-headerSearch .ec-headerSearch__keyword{
             width:100%;
            border-bottom-left-radius:10px;
       }
        .ec-headerSearch .ec-headerSearch__category .ec-select.ec-select_search{
            border-right: 1px solid #ccc;
            border-radius: 10px;
            border-top-right-radius: 10px; 
       }
        .ec-headerSearch .ec-headerSearch__category{
            width:100%;
       }
        .ec-headerSearch .ec-headerSearch__keyword{
            width:100%;
            border-bottom-left-radius:10px;
            border-top-left-radius: 10px;
       }
        .ec-headerNaviRole__search-sp{
            display: none;
        }
       .ec-headerSearch-sp{
            padding-top: 25px !important;
            padding-bottom: 15px !important;
        }
        .ec-headerNav .ec-headerNav__itemIcon{
            font-size: .35rem;
        }
        .ec-headerSearch .ec-headerSearch__keyword input[type="search"]{
             height: .43rem !important;
        }
        .ec-sm-logo{
            display: block;
        }
        .ec-sm-logo img{
            position: fixed;
            width: 25%;
            height: auto;
            top: 3%;
            left: 31%;
        }
        .mv_bg{
            margin: 35px auto;
        }
    }
    /*--mzmw--*/
    @media only screen and (min-width: 768px) and (max-width: 960px){
        .ec-headerNaviRole{
            padding: 25px 5px 5px 5px;
        }
        .ec-headerNaviRole__search,
        .select2-results{
            width: 373px;
        }
        .ec-headerNaviRole__nav{
            padding: 0 !important;
        }
        .ec-headerNav .ec-headerNav__itemLink{
            margin-right: 5px !important;
            margin-left: 5px !important;
        }
        .ec-headerNav .ec-headerNav__item{
            display: inline-flex;
        }

    }
    @media only screen and (min-width: 768px) and (max-width: 1024px){
        .ec-headerNaviRole{
            display: none;
        }
        .ec-headerNaviRole-sp{
            display: block;
        }
        .ec-headerNaviRole-sp ul{
            display: none;
        }
        .ec-headerNaviRole-sp .ec-headerNaviRole__right{
            width: 100%;
        }
        .ec-headerNaviRole-sp .ec-headerNaviRole__search{
            display: block;
        }
        .ec-sm-menu{
            width:40%;
        }
        .ec-headerNaviRole__nav-sp {
            width:40%;
        }
        .ec-headerNaviRole__translate{
            top:18%;
            right: 6% !important;
        }
        .ec-headerNaviRole__nav-sp {
            width: 30%;
            position: absolute;
            top: 19%;
            right: 25%;
        }
        .menu-btn{
            display: none;
        }
        .ec-headerSearch-sp{
            display: none;
        }
        .ec-sm-link{
            display:none;
        }
        .icon-disable{
            display: none !important;
        }
        .cart-disable{
            display: none !important;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1109px){
        .ec-headerNaviRole__search{
            width: 346px;
            margin: 0 0 0 15px;
        }
        .ec-headerNav .ec-headerNav__item{
            display: inline-flex;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1109px){
         .ec-categoryNaviRole{
            margin: 128.4px auto 0 auto;
        }
        .ec-headerNav {
            text-align: center;
        }
        .ec-headerNav .ec-headerNav__item{
            display: inline-flex;
        }
        .ec-sm-logo{
            display: none;
        }
    }
    @media only screen and (min-width: 1110px) and (max-width: 1115px){
         .ec-categoryNaviRole{
            margin: 128.4px auto 0 auto;
        }
        .ec-headerNav {
            text-align: center;
            display: inline-flex;
            width: 100%;
        }
       .ec-headerNav .ec-headerNav__item {
            display: inline-flex;
            /*width: 100%;*/
        }
        .ec-headerNav .ec-headerNav__itemLink {
            display: inline-flex;
            width: 100%;
        }
        .mv_table_txt_05 {
            display: inline-flex;
            float: right;
        }
        .mv_table_txt_04{
            display: inline-table;
            width: 225px;
        }
        .img_and_txt {
            display: inline-flex;
            margin-left: 0;
        }
        .online_subtitle .all {
            display: inline-table;
        }
        .online_subtitle_ttl_01, .online_subtitle .all{
            display: inline-table;
        }
        .ec-sm-logo{
            display: none;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 900px){
        .menu-btn{
            display: none;
        }
        .ec-headerNav__itemIcon{
            display: none !important;
        }
        .ec-headerNaviRole__search{
            width: 295px;
        }
        .ec-headerNav .ec-headerNav__item{
            display: inline-flex;
        }
        .ec-headerNav {
            text-align: center;
            display: inline-flex;
            width: 100%;
        }
       .ec-headerNav .ec-headerNav__item {
            display: inline-flex;
            width: 100%;
        }
        .ec-headerNav .ec-headerNav__itemLink {
            display: inline-flex;
            width: 100%;
            padding-right: 10px;
        }
        .mv_table_txt_05 {
            display: inline-flex;
            float: right;
        }
         .mv_table_txt_04{
            display: inline-table;
            width: 225px;
        }
        .img_and_txt {
            display: inline-flex;
        }
       .online_subtitle .all {
            display: inline-table;
        }
        .online_subtitle_ttl_01, .online_subtitle .all{
            display: inline-table;
        }
        .ec-sm-logo{
            display: none;
        }
        .cart-disable{
            display: none !important;
        }
    }
    @media only screen and (max-width: 767px){
        .ec-headerNaviRole{
            display: none;
        }
        .ec-headerNaviRole-sp{
            display: block;
        }
        .ec-headerNaviRole-sp .ec-headerNaviRole__right{
            width: 100%;
        }
        .ec-headerNaviRole-sp .ec-headerNaviRole__search{
            display: block;
        }
        .ec-headerNaviRole .ec-headerNaviRole__right{
            width: 100%;
        }
        .ec-headerNaviRole .ec-headerNaviRole__search{
            display: block;
        }
         .ec-headerNaviRole__nav-sp .ec-headerNav{
                /*position: fixed;
                top: 3%;
                right: 19%;*/
        }
        .ec-headerSearch{
            padding-bottom: 10px;
        }
        .ec-headerSearch__category{
            float: left !important;
        }
        .ec-headerSearch__keyword{
            float: right !important;
        }
        .ec-headerNaviRole__search{
            /*width: 3.90rem !important;*/
            width: 2.4rem !important;
        }
        .ec-headerNaviRole{
            padding: .35rem .30rem .10rem .30rem;
            position: relative;
            width: 100%;
        }
        .ec-headerNav__itemLink{
            display: block !important;
        }
        .ec-headerNaviRole__translate{
            position: fixed;
            top: 0.05rem;
            right: .20rem;
        }
        .ec-headerNaviRole__nav{
            /*padding: .20rem .08rem 0 .15rem;*/
            /*display: block !important;*/
            position: absolute;
            top: .45rem;
            right: 1.63rem;
        }
        .ec-headerNav{
            text-align: center;
        }
        .ec-headerNav .ec-headerNav__item{
            display: inline-flex;
            border-right: 1px solid
        }
        .ec-headerNav .ec-headerNav__itemLink{
            margin-right: .10rem;
            margin-left: .10rem;
        }

        .ec-headerNav .ec-headerNav__itemIcon{
            font-size: .2rem;
        }
 		.select2-container{
            padding: 0.1rem 0 !important;
        }
        .select2-container .select2-choice > .select2-chosen{
            font-size: .16rem !important;
        }
        .ec-headerSearch .ec-headerSearch__keyword input[type="search"]{
            height: .33rem;
            font-size: .16rem;
            padding: .11rem .50rem .11rem .10rem;
        }
        .select2-container .select2-choice{
            padding: .05rem 0 .05rem .05rem;
        }
        .select2-container .select2-choice .select2-arrow{
            top: .07rem;
            right: .07rem;
        }
        .select2-container .select2-choice .select2-arrow b{
            background-image: none;
            border-bottom: .08rem solid #fff;
            border-left: .08rem solid transparent;
            border-right: .08rem solid transparent;
        }
        .select2-search{
            padding: .07rem 0 !important;
        }
        .ec-headerSearch-sp{
            padding-top: 25px;
            padding-bottom: 15px;
        }
        .ec-headerSearch .ec-headerSearch__keyword .ec-icon{
            width: auto;
            height: auto;
        }
        .ec-headerSearch .ec-headerSearch__keywordBtn{
            top: .20rem;
            right: .03rem;
        }
        .ec-headerNav .ec-headerNav__item{
            display: inline-flex;
        }
        .ec-headerNav {
            text-align: center;
            display: inline-flex;
            width: 100%;
        }
       .ec-headerNav .ec-headerNav__item {
            display: inline-flex;
            width: 100%;
        }
        .ec-headerNav .ec-headerNav__itemLink {
            display: inline-flex;
            width: 100%;
            padding-right: 10px;
            font-size: 0.15rem;
        }
        .mv_table_txt_05 {
            display: inline-flex;
            float: right;
        }
         .mv_table_txt_04{
            display: inline-table;
            width: 90%;
        }
        .img_and_txt {
            display: inline-flex;
        }
       .online_subtitle .all {
            display: inline-table;
        }
        .online_subtitle_ttl_01, .online_subtitle .all{
            display: inline-table;
        }
        .select2-results{
            width: 5.67rem;
            padding: .10rem .14rem;
        }
        .select2-results li{
            width: 50%;
            font-size: .14rem;
            padding: .05rem;
        }
        .fa-search{
            font-size: .16rem;
        }
        .ec-headerNaviRole{
            font-size: .16rem;
        }
        /*translate*/
        .ec-headerNaviRole__translate{
            margin: 0.05rem 0;
            padding: 0px 0px 0px 0.05rem;
        }
        .goog-te-gadget{
            padding: 0.03rem 0;
        }
        .goog-te-gadget-simple{
            font-size: .15rem !important;
            /*width: 1.80rem;*/
        }
        .goog-te-gadget-simple .goog-te-menu-value{
            /*width: auto;*/
			margin: .03rem;
        }
		.goog-te-gadget-icon{
            background-position: -.65rem 0px !important;
            background-size: .84rem .19rem;
            height: .19rem;
            margin-left: .02rem;
            margin-right: .02rem;
        }
        /*--------mzmw----------*/
        .ec-sm-search-block {
            width:100%;
        }
        .ec-sm-right{
            width: 52%;
            padding-bottom: 10px;
            float: right;
            position: relative;
            top: 10px;
        }
        .ec-sm-menu {
          background-color: rgba(0,0,0,0.88);
          box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
          /*position: fixed;*/
          width: 100%;
          z-index: 3;
        }

        .ec-sm-menu ul {
          margin: 0;
          padding: 0;
          list-style: none;
          overflow: hidden;
          /*background-color: rgba(0,0,0,0.5);*/
        }

        .ec-sm-menu li a {
          display: block;
          padding: 10px 20px;
          border-right: 1px solid #f4f4f4;
          text-decoration: none;
          color: #fff;
        }

        /*.ec-sm-menu li a:hover,
        .ec-sm-menu .menu-btn:hover {
          background-color: #f4f4f4;
        }*/

        .ec-sm-menu .logo {
          display: block;
          float: left;
          font-size: 2em;
          padding: 10px 20px;
          text-decoration: none;
        }
        .ec-sm-pd{
            padding:10px 0px 20px 0px;
        }
        .ec-sm-menu .menu {
          clear: both;
          max-height: 0;
          transition: max-height .2s ease-out;
        }

        /* menu icon */

        .ec-sm-menu .menu-icon {
          cursor: pointer;
          display: inline-block;
          float: left;
          padding: 20px 13px;
          position: relative;
          user-select: none;
          background: #4c5f00;
        /* border-radius: 5px; */
        /* width: 40px; */
        /* height: 40px; */
            margin: 10px;
        }

        .ec-sm-menu .menu-icon .navicon {
          background: #fff;
          display: block;
          height: 2px;
          position: relative;
          transition: background .2s ease-out;
          width: 18px;
        }

        .ec-sm-menu .menu-icon .navicon:before,
        .ec-sm-menu .menu-icon .navicon:after {
          background: #fff;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }

        .ec-sm-menu .menu-icon .navicon:before {
          top: 5px;
        }

        .ec-sm-menu .menu-icon .navicon:after {
          top: -5px;
        }

        /* menu btn */

        .ec-sm-menu .menu-btn {
          display: none;
        }

        .ec-sm-menu .menu-btn:checked ~ .menu {
          max-height: 240px;
        }

        .ec-sm-menu .menu-btn:checked ~ .menu-icon .navicon {
          background: transparent;
        }

        .ec-sm-menu .menu-btn:checked ~ .menu-icon .navicon:before {
          transform: rotate(-45deg);
        }

        .ec-sm-menu .menu-btn:checked ~ .menu-icon .navicon:after {
          transform: rotate(45deg);
        }

        .ec-sm-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
        .ec-sm-menu .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
          top: 0;
        }
        .ec-headerSearch {
            /*display: block;*/
            width: 45% !important;
            float:left;
            /*margin: 0 auto;*/
            padding-left: 10px;
        }
        .ec-headerNaviRole__search-sp{
            display: none;
        }
        .ec-headerSearch .ec-headerSearch__category{
            width:100%;
       }
       .ec-headerSearch .ec-headerSearch__keyword{
            width:100%;
            border-bottom-left-radius:10px;
       }
        .ec-headerSearch .ec-headerSearch__category .ec-select.ec-select_search{
            border-right: 1px solid #ccc;
            border-radius: 10px;
            border-top-right-radius: 10px; 
       }
       .ec-headerSearch .ec-headerSearch__category{
            width:100%;
       }
       .ec-headerSearch .ec-headerSearch__keyword{
            width:100%;
            border-bottom-left-radius:10px;
            border-top-left-radius: 10px;
       }
       .ec-sm-logo{
            display: block;
        }
        .ec-sm-logo img{
            position: fixed;
            max-width: 100%;
            top: 2.5%;
            left: 31%;
        }
	}
    @media only screen and (min-width: 1024px) and (max-width: 1680px){
        /*.ec-headerNaviRole__translate{
            right: 18%;  
        }
        .ec-headerNaviRole .ec-headerNaviRole__right{
            text-align: justify;
        }*/
    }
    @media (min-width:1025px){
        .md-disable{
            display: none !important;
        }
        .ec-headerNaviRole__search-sp{
            display: none;
        }
        .ec-headerNav__itemIcon{
            display: none !important;
        }
        .ec-sm-link{
            display:none;
        }
        .ec-headerSearch-sp{
            display: none;
        }
        .ec-sm-logo{
            display: none;
        }
        .cart-disable{
            display: none !important;
        }

    }
        /*end of translate*/      
</style>

<div class="header_bg">
<div class="ec-headerNaviRole">
    <div class="ec-headerNaviRole__left">
        {#<a class="logo" href="http://localhost/densaku/user_data/top_01">#}
        {#    <img src="{{ asset('assets/img/top/logo.png') }}" width="210" height="50">#}
        {#</a>#}
        {#<div class="ec-headerRole__navSP">#}
        {#    {{ include('Block/nav_sp.twig') }}#}
        {#</div>#}
    </div>
    <div class="ec-headerNaviRole__right">
        <div class="ec-headerNaviRole__search">
            {{ render(path('block_search_product')) }}
        </div>
        <div class="ec-headerNaviRole__nav">
            {{ include('Block/login.twig') }}
        </div>
        <!-- <div class="ec-headerNaviRole__translate">
            <div id="google_translate_element"></div>
        </div> -->
        {#<div class="ec-headerRole__cart">#}
        {#    {{ include('Block/cart.twig') }}#}
        {#</div>#}
    </div>
</div>
    <div class="ec-sm-menu">
        <input class="menu-btn md-disable" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
            <ul class="menu ec-headerNaviRole-sp">
                <li class="ec-headerNaviRole__search-sp ec-sm-pd">
                    {{ render(path('block_search_product')) }}
                </li>
                <li class="ec-sm-link"><a href="">Link</a></li>
                <li class="ec-sm-link"><a href="">Link</a></li>
                <li class="ec-sm-link"><a href="">Link</a></li>
            </ul> 
            <div class="ec-sm-search-block clearfix">
                <div class="ec-headerSearch ec-headerSearch-sp">
                    <form method="get" class="searchform" action="/web/products/list">            
                        <div class="ec-headerSearch__keyword">
                            <div class="ec-input">
                                <input type="search" name="name" maxlength="50" class="search-name" placeholder="キーワードを入力" autocomplete="off">
                                <button class="ec-headerSearch__keywordBtn" type="submit">
                                    <div class="ec-icon">
                                       <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ec-sm-right">
                    <div class="ec-headerNaviRole__nav-sp md-disable">
                        <div class="ec-headerNav">
                            <div class="ec-headerNav__item">
                            <a href="http://localhost/web/entry">
                                <i class="fas fa-user fa-fw ec-headerNav__itemIcon icon-disable"></i>
                                <span class="ec-headerNav__itemLink">マイページ</span>
                            </a>
                        </div>
                        <div class="ec-headerNav__item">
                            <a href="http://localhost/web/mypage/login">
                                <i class="fas fa-lock fa-fw ec-headerNav__itemIcon icon-disable"></i>
                                <span class="ec-headerNav__itemLink">ログイン</span>
                            </a>
                        </div>
                        <div class="ec-headerNav__item cart-disable">
                            <a href="http://localhost/web/mypage/cart">
                                <i class="fas fa-shopping-cart fa-fw ec-headerNav__itemIcon icon-disable"></i>
                                <span class="ec-headerNav__itemLink">カート</span>
                            </a>
                        </div>
                        </div>
                    </div> 
                </div>

            </div>     
    </div>
    <div class="ec-sm-logo">
        <a href=""><img src="{{ asset('assets/img/densaku-sp-logo.png') }}" width="210" height="50"></a> 
    </div>
    <div class="ec-headerNaviRole__translate ">
        <div id="google_translate_element"></div>
    </div>
</div>
<script src="{{ asset('assets/js/common_job.js') }}"></script>
<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'ja', includedLanguages: 'en,ja', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false}, 'google_translate_element');
}
</script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
{#for select2 js#}
<script>
    jQuery(document).ready(function($) {
        function format(state) {
          if (!state.id) return state.text;
          return state.text;
        }
        $("#category_id, #prefecture, #worktype").select2({
          placeholder: "Select a state or many…",
          formatResult: format,
          formatSelection: format,
          escapeMarkup: function(m) { return m; }
        });
    });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.min.js'></script>
{#end of select2 js#}