{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
<div class="ec-headerNav">
    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item">
            <a href="{{ url('mypage') }}">
                {#<i class="fas fa-user fa-fw ec-fa-icon ec-headerNav__itemIcon"></i>#}
                 {#<img class="icon_mypage" src="{{ asset('assets/img/icon_mypage.png') }}" width="48" height="auto">#}
                <span class="ec-headerNav__itemLink">{{ 'マイページ'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            {#<div class="ec-headerNav__item">#}
            {#    <a href="{{ url('mypage_favorite') }}">#}
            {#        <i class="ec-headerNav__itemIcon fas fa-heart fa-fw"></i>#}
            {#        <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>#}
            {#    </a>#}
            {#</div>#}
        {% endif %}
        <div class="ec-headerNav__item">
            <a href="{{ url('logout') }}">
                {#<i class="ec-headerNav__itemIcon fas fa-lock fa-fw"></i>#}
                {#<img class="icon_login" src="{{ asset('assets/img/icon_login.png') }}" width="48" height="auto">#}
                <span class="ec-headerNav__itemLink">{{ 'ログアウト'|trans }}</span>
            </a>
        </div>
    {% else %}
        <div class="ec-headerNav__item">
            <a href="{{ url('entry') }}">
                <i class="fas fa-user fa-fw ec-headerNav__itemIcon"></i>
                {#<img class="icon_mypage" src="{{ asset('assets/img/icon_mypage.png') }}" width="48" height="auto">#}
                {#<span class="ec-headerNav__itemLink">{{ '新規会員登録'|trans }}</span>#}
                 <span class="ec-headerNav__itemLink">{{ 'マイページ'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            {#<div class="ec-headerNav__item">#}
            {#    <a href="{{ url('mypage_favorite') }}">#}
            {#        <i class="ec-headerNav__itemIcon fas fa-heart fa-fw"></i>#}
            {#        <span class="ec-headerNav__itemLink">{{ 'お気に入り'|trans }}</span>#}
            {#    </a>#}
            {#</div>#}
        {% endif %}
        <div class="ec-headerNav__item">
            <a href="{{ url('mypage_login') }}">
                <i class="fas fa-lock fa-fw ec-headerNav__itemIcon"></i>
                {#<img class="icon_login" src="{{ asset('assets/img/icon_login.png') }}" width="48" height="auto">#}
                <span class="ec-headerNav__itemLink">{{ 'ログイン'|trans }}</span>
            </a>
        </div>
    {% endif %}
</div>