{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-headerLinkArea">
    <div class="ec-headerLink__list">
        <a class="ec-headerLink__item" href="{{ url('cart') }}">
            <div class="ec-headerLink__icon">
                <i class="fas fa-shopping-cart fa-fw"></i>
            </div>
            <span>{{ 'カートを見る'|trans }}</span>
        </a>
        {% if is_granted('ROLE_USER') %}
            <a class="ec-headerLink__item" href="{{ url('mypage') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-user fa-fw"></i>
                </div>
                <span>{{ 'マイページ'|trans }}</span>
            </a>
            {% if BaseInfo.option_favorite_product %}
                <a class="ec-headerLink__item" href="{{ url('mypage_favorite') }}">
                    <div class="ec-headerLink__icon">
                        <i class="fas fa-heart fa-fw"></i>
                    </div>
                    <span>{{ 'お気に入り'|trans }}</span>
                </a>
            {% endif %}
            <a class="ec-headerLink__item" href="{{ url('logout') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-lock fa-fw"></i>
                </div>
                <span>{{ 'ログアウト'|trans }}</span>
            </a>
        {% else %}
            <a class="ec-headerLink__item" href="{{ url('entry') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-user fa-fw"></i>
                </div>
                <span>{{ '新規会員登録'|trans }}</span>
            </a>
            {% if BaseInfo.option_favorite_product %}
                <a class="ec-headerLink__item" href="{{ url('mypage_favorite') }}">
                    <div class="ec-headerLink__icon">
                        <i class="fas fa-heart fa-fw"></i>
                    </div>
                    <span>{{ 'お気に入り'|trans }}</span>
                </a>
            {% endif %}
            <a class="ec-headerLink__item" href="{{ url('mypage_login') }}">
                <div class="ec-headerLink__icon">
                    <i class="fas fa-lock fa-fw"></i>
                </div>
                <span>{{ 'ログイン'|trans }}</span>
            </a>
        {% endif %}
        <a class="ec-headerLink__item" href="{{ url('homepage') }}">
            <div class="ec-headerLink__icon">
                <i class="fas fa-home fa-fw"></i>
            </div>
            <span>{{ 'ホームに戻る'|trans }}</span>
        </a>
    </div>
</div>