{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% block stylesheet %}
    <style>
    .ec-layoutRole__mainBottom{
        background: url("{{ asset('assets/img/bg_page.png') }}") no-repeat top 200px center;
    }
    .ec-layoutRole{
        position: relative;
        overflow: hidden;
    }
    .ec-sliderRole {
        width: 100%;
        max-width: 1220px;
        max-width: 100%;
        text-align: center;
        margin-bottom: 0;
        text-align: left;
        padding-left: 0;
        padding-right: 0;
        position: relative;
    }
    .ec-layoutRole .ec-layoutRole__contents{
        max-width: 100%;
    }
    .ec-sliderRole .img_gold{
        width: 100%;
        height: auto;
        max-width: 1220px;
        position: absolute;
        top: 0;
    }
    .main_slick_04 .slick-slider{
        margin-bottom: 0;
    }
    .main_visual .slick-prev,
    .main_visual .slick-next{
        display: none !important;
    }
    .slick-slider{
        margin-bottom: 0;
    }
    .slick-dots {
        position: absolute;
        bottom: -45px;
        display: block;
        width: 100%;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    .slick-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }
    .slick-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }
    .slick-dots li button:hover,
    .slick-dots li button:focus {
        outline: none;
    }

    .slick-dots li button:hover:before,
    .slick-dots li button:focus:before {
        opacity: 1;
    }

    .slick-dots li button:before {
        content: " ";
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        text-align: center;
        opacity: .25;
        background-color: black;
        border-radius: 50%;

    }
    .slick-dots li.slick-active button:before {
        opacity: .75;
        background-color: black;
    }

    .slick-dots li button.thumbnail img {
        width: 0;
        height: 0;
    }
    .main_visual .slick-slide {
        max-height: 600px;
        overflow: hidden;
    }
    .slick-track{
        position: relative;
    }
    .ec-newsRole{
        padding: 90px 0 0 0;
    }
    /*end of slider*/
    
    /*.search_field*/
    .search_field{
        background: #150532;
        padding: 20px 0;
    }
    .search_field_ul{
        width: 890px;
        margin: 0 auto;
    }
    .search_field_ul li{
        width: 50%;
        float: left;
        list-style-type: none;
    }
    .search_field_ul li:last-child{
        text-align: right;
    }
    .search_customize{
        position: relative;
        display: inline-block;
    }
    .search_field_ul .search_customize::before {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #150532;
        pointer-events: none;
    }
    .search_field_ul li .search{
        -webkit-appearance: none;
        -moz-appearance:    none;
        appearance:         none;
        width: 390px;
        font-size: 16px;
        line-height: 1;
        color: #150532;
        padding: 10px;
        border: none;
    }
    /*end of .search_field*/
    
    @media only screen and (max-width: 767px){
        .slick-dots li button::before{
        width: 5px !important;
        height: 5px !important;
    }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        jQuery(document).ready(function($) {
            $('.main_visual').slick({
                // dots: false,
                // arrows: true,
                autoplay: true,
                autoplaySpeed: 5000,
		        nav:true
            });
        });
        
    </script>
{% endblock javascript %}

        <div class="main_visual">
                <div class="item slick-slide pos">
                    <img src="{{ asset('assets/img/top/img_maintop_pc01.jpg') }}">
                </div>
                
                 <div class="item slick-slide pos">
                    <img src="{{ asset('assets/img/top/2.jpg') }}">
                </div>

                <div class="item slick-slide pos">
                    <img src="{{ asset('assets/img/top/3.jpg') }}">
                </div>
            
                 <div class="item slick-slide pos">
                    <img src="{{ asset('assets/img/top/4.jpg') }}">
                </div>
        </div>
        
         <div class="search_field">
            <ul class="clearfix search_field_ul">
                <li>
                    <div class="search_customize">
                        <select class="search">
                            <option value="">商品名で探す</option>
                            <option value="2">新入荷</option>
                            <option value="1">ジェラート</option>
                            <option value="3">　彩のデザート</option>
                        </select>
                    </div>
                </li>
                <li>
                     <div class="search_customize">
                        <select class="search">
                            <option value="">カテゴリで探す</option>
                            <option value="2">新入荷</option>
                            <option value="1">ジェラート</option>
                            <option value="3">　彩のデザート</option>
                        </select>
                    </div>
                </li>
            </ul>
        </div>