{%
set query = repository('Eccube\\Entity\\Product')
				.createQueryBuilder('p')
				.where('p.Status = 1')
				.orderBy('p.create_date', 'DESC')
				.addOrderBy('p.id', 'DESC')
				.setMaxResults(20)
				.getQuery()
%}

{% set latest_products = query.getResult() %}
{% set count = latest_products|length %}
{% if count == 0  %}
	{% set count = 1 %}
{% endif %}
{% if count > 6  %}
	{% set count = 6 %}
{% endif %}


{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% block stylesheet %}
    <style>
        .new_products .line{
            margin-top: 32px;
        }
        .line_vertical{
            content: "";
            background: #811200;
            width: 4px;
            height: 100px;
            position: absolute;
            left: 20px;
            top: -37px;
        }
        .new_products .main_slick{
            width: 100%;
            margin: 37px auto 0 auto;
            max-width: 1130px;
            padding: 0 30px;
        }
        #new_products_slick{
            width: 95%;
           margin: 0 auto;
        }
 	/*slick_arrow*/
        .slick-prev{
            left: -25px;
        }
        .slick-next{
            right: -25px;
        }
        .slick-prev{
            background: url("{{ asset('assets/img/slider_arrow_left.png') }}") no-repeat center left;
            background-size: 25px auto;
        }
        .slick-next{
            background: url("{{ asset('assets/img/slider_arrow_right.png') }}") no-repeat center left;
            background-size: 25px auto;
        }
        .slick-next,
        .slick-prev{
            font-size: 0;
            line-height: 0;
            position: absolute;
            top: 32%;
            width: 26px;
            height: 26px;
            cursor: pointer;
            border: 1px solid transparent;
            outline: 1px solid transparent;
        }
        .slick-prev{
            background: url("{{ asset('assets/img/slider_arrow_left.png') }}") no-repeat center left;
            background-size: 25px auto;
        }
        .slick-next{
            background: url("{{ asset('assets/img/slider_arrow_right.png') }}") no-repeat center left;
            background-size: 25px auto;
        }
        .ec-newItemRole .ec-newItemRole__listItem:nth-child(even),
        .ec-newItemRole .ec-newItemRole__listItem:nth-child(odd){
            margin: 0 10px;
        }
        .ec-newItemRole .ec-newItemRole__listItemPrice{
            color: #700101;
            font-weight: bold;
        }
		/*end of slick_arrow*/
          @media only screen and (max-width: 767px){
            .new_products .main_slick{
                padding: 0 .30rem;
                margin: .37rem auto 0 auto;
            }
            .line_vertical {
                width: 0.04rem;
                height: 1.00rem;
                left: .20rem;
                top: -.37rem;
            }
            .new_products .line{
                margin-top: .32rem;
            }
            .slick-prev{
                left: -.25rem;
				background-size: .25rem auto;
				width: .26rem;
                height: .26rem;
            }
            .slick-next{
                right: -.25rem;
 				background-size: .25rem auto;
				width: .26rem;
                height: .26rem;
            } 
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('#new_products_slick').slick({
                slidesToShow: {{ count }},
				slidesToScroll: 1,
				autoplay: false,
				autoplaySpeed: 2000,
				responsive: [
				{
					breakpoint: 980,
					settings: {
					slidesToShow: 3,
					slidesToScroll: 1,
					autoplay: false,
					autoplaySpeed: 2000
				}
				},
				{
					breakpoint: 769,
					settings: {
					slidesToShow: 2,
					slidesToScroll: 1,
					autoplay: false,
					autoplaySpeed: 2000
				}
				}
  				]
            });
        });
    </script>
{% endblock javascript %}
<div class="ec-role ec-sliderRole new_products">
    <div class="custom_line">
        <div class="line"></div>
        <div class="line_vertical"></div>
    </div>
    <div class="ec-newItemRole main_slick">
        <div class="online_subtitle">
            {#<img class="icon_01" src="{{ asset('assets/img/icon_01.jpg') }}" width="30" height="33">#}
            <h2 class="online_subtitle_ttl_01">新着商品</h2>
            <a class="all" href="{{ url('product_list', {'pageno': '1', 'disp_number': '0', 'orderby': '2'}) }}">すべて見る
                <img class="icon_arrow_right" src="{{ asset('assets/img/icon_arrow_right.png') }}" width="20" height="auto">
            </a>
        </div>
        <div class="ec-newItemRole__list" id="new_products_slick">
            
            {% for product in latest_products %}
            <div class="ec-newItemRole__listItem item slick-slide">
                <a href="{{ url('product_detail', {'id': product.id}) }}">
                    <div class="slide_image">
                        <img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}">
                    </div>
                    <p class="ec-newItemRole__listItemTitle">{{ product.name }}</p>
                    <p class="ec-newItemRole__listItemPrice">
                        {% if product.hasProductClass %}
                            {% if product.getPrice02Min == product.getPrice02Max %}
                                {{ product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ product.getPrice02IncTaxMin|price }} ～ {{ product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ product.getPrice02IncTaxMin|price }}
                        {% endif %}
                        (税込)
                    </p>
                </a>
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>