{% 
set month = date('m').format('m')
%}
{% if month in ["12", "1", "2"] %}
   {% set season = '冬' %}
{% elseif month in ["3", "4", "5"] %}
   {% set season = '春' %}
{% elseif month in ["6", "7", "8"] %}
   {% set season = '夏' %}
{% elseif month in ["9", "10", "11"] %}
   {% set season = '秋' %}
{% else %}
    {% set season = '' %}
{% endif %}

{%
set products_query = repository('Eccube\\Entity\\Product')
				.createQueryBuilder('p')
				.innerJoin('p.ProductTag','pt')
				.innerJoin('pt.Tag','t')
				.where('t.name = :tag')
				.andWhere('p.Status = 1')
				.setParameter('tag', season)
				.orderBy('p.create_date', 'DESC')
				.addOrderBy('p.id', 'DESC')
%}
{% set products = products_query.getQuery().getResult() %}

{% set count = products|length %}
{% if count == 0  %}
{% set count = 1 %}
{% endif %}
{% if count > 6  %}
{% set count = 6 %}
{% endif %}

{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

{% block stylesheet %}
    <style>
        .seasonal .main_slick{
            width: 100%;
            margin: 97px auto 0 auto;
            max-width: 1130px;
            padding: 0 30px;
        }
        #seasonal_slick{
            width: 94%;
            margin: 0 auto;
        }
        .seansonal .slick-slider {
            margin-bottom: 30px;
        }

        .ec-newItemRole .ec-newItemRole__listItem:nth-child(even),
        .ec-newItemRole .ec-newItemRole__listItem:nth-child(odd){
            margin: 0 10px;
        }
        .ec-newItemRole .ec-newItemRole__listItemPrice{
            color: #700101;
            font-weight: bold;
        }
        .seasonal .line{
            margin-top: 32px;
           
        }
        .seasonal .line_vertical{
            background: #001cff;
        }
         /*For SP*/
        @media only screen and (max-width: 767px){
            .seasonal .main_slick{
                margin: .97rem auto 0 auto;
                padding: 0 .30rem;
            }
            .ec-sliderRole{
                font-size: .16rem;
                padding-left: .20rem;
                padding-right: .20rem;
                margin-bottom: .24rem;
            }
            .seasonal .line{
                margin-top: .32rem;
            }
            .line_vertical{
                width: 0.04rem;
                height: 1.00rem;
                left: .20rem;
                top: -.37rem;
            }
        }
        /*end of SP*/
        
    </style>
{% endblock %}

{% block javascript %}
    <script>
        $(function() {
            $('#seasonal_slick').slick({
               slidesToShow: {{ count }},
              slidesToScroll: 1,
              autoplay: false,
              autoplaySpeed: 2000,
              arrows: true,
              infinite: true,
              responsive: [
                {
                  breakpoint: 980,
                  settings: {
                    slidesToShow: 3,
              slidesToScroll: 1,
              autoplay: false,
              autoplaySpeed: 2000,
                  }
                },
                {
                  breakpoint: 769,
                  settings: {
                   slidesToShow: 2,
              slidesToScroll: 1,
              autoplay: false,
              autoplaySpeed: 2000
                  }
                }
              ]
            });
        });
    </script>
{% endblock javascript %}
<div class="ec-role ec-sliderRole seasonal">
    <div class="custom_line">
        <div class="line"></div>
        <div class="line_vertical"></div>
    </div>
    <div class="ec-newItemRole main_slick">
        <div class="online_subtitle">
            <h2 class="online_subtitle_ttl_01">季節商品</h2>
            <a class="all" href="{{ url('product_list') }}">すべて見る
                <img class="icon_arrow_right" src="{{ asset('assets/img/icon_arrow_right.png') }}" width="20" height="auto">
            </a>
        </div>
        <div class="ec-newItemRole__list" id="seasonal_slick">

            {% for product in products %}
            <div class="ec-newItemRole__listItem item slick-slide">
                <a href="{{ url('product_detail', {'id': product.id}) }}">
                    <div class="slide_image">
                        <img src="{{ asset(product.main_list_image|no_image_product, 'save_image') }}">
                    </div>
                    <p class="ec-newItemRole__listItemTitle">{{ product.name }}</p>
                    <p class="ec-newItemRole__listItemPrice">
                        {% if product.hasProductClass %}
                            {% if product.getPrice02Min == product.getPrice02Max %}
                                {{ product.getPrice02IncTaxMin|price }}
                            {% else %}
                                {{ product.getPrice02IncTaxMin|price }} ～ {{ product.getPrice02IncTaxMax|price }}
                            {% endif %}
                        {% else %}
                            {{ product.getPrice02IncTaxMin|price }}
                        {% endif %}
                        (税込)
                    </p>
                </a>
            </div>
            {% endfor %}


        </div>
    </div>
</div>