{% block stylesheet %}
{% endblock %}

{% block javascript %}
{% endblock javascript %}
{% block main %}
    <div class="top_mv">
	<img class="img_anni" src="{{ asset('assets/img/img_anni.png') }}">
        <div class="mv_center">
           <ul class="clearfix customize_line">
                <li>
                    <div class="line_red"></div>
                </li>
                <li>
                    <div class="line_blue"></div>
                </li>
                <li>
                    <div class="line_yellow"></div>
                </li>
                <li>
                    <div class="line_green"></div>
                </li>
                <li>
                    <div class="line_purple"></div>
                </li>
            </ul>
            <div class="mv_bg">
                <div class="mv_logo_content">
                   <table class="mv_table">
                        <tr>
                            <td>
                                <a href="{{ url('homepage') }}">
                                    {#<img class="mv_logo" src="{{ asset('assets/img/pc_logo.png') }}">#}
                                    <p class="mv_table_txt_01">伝統工芸品販売サイト</p>
                                    <p class="mv_table_txt_02">DENSAKU</p>
                                    <p class="mv_table_txt_03">Traditional Crafts sales site</p>
                                </a>
                            </td>
                            <td>
                                {#<p class="mv_logo_txt">日本伝統工芸品販売</p>#}
                                {#<img class="top_mv_gift" src="{{ asset('assets/img/top_mv_gift.png') }}">#}
                                <div class="img_and_txt">
                                     <p class="mv_table_txt_04">
                                    大切な人の心へ届く<br>
                                    感謝を込めた
                                </p>
                                <img class="img_ribbon" src="{{ asset('assets/img/img_ribbon.png') }}">
                                <p class="mv_table_txt_05">贈り物</p>
                                </div>
                                <p class="mv_table_txt_06">gift with appreciation that reaches the heart of an important person</p>
                            </td>
                        </tr>
                    </table>
                </div>
           
                <ul class="mv_text clearfix">
                    <li>
                        <h2 class="mv_text_01">いつもとは違う贈答品を</h2>
                        <p class="mv_text_02">
                            多くの企業様が飲食物や大量生産品を贈答する中、<br>
                            品物だけではなく記憶にも残る物を贈答してみませんか？<br>
                            製造の主な工程が手作業で行われている為、<br>
                            感謝の気持ちだけではなく温もりもお届けできます。
                        </p>
                    </li>
                    <li>
                        <h2 class="mv_text_01">A more special  gift than usual.</h2>
                        <p class="mv_text_04">
                            As many companies give foods and drinks and mass-production items,<br>
                            Why don’t you give memorable gift as well as goods.<br>
                            Because the main process of manufacturing is manually produced,<br>
                            We can deliver not only gratitude but also warmth.
                        </p>
                    </li>
                </ul>
                <ul class="clearfix mv_list">
                    <li>
                        <img class="img_mv_list" src="{{ asset('assets/img/mv_list_01.png') }}">
                    </li>
                    <li>
                        <img class="img_mv_list" src="{{ asset('assets/img/mv_list_02.png') }}">
                    </li>
                    <li>
                        <img class="img_mv_list" src="{{ asset('assets/img/mv_list_03.png') }}">
                    </li>
                    <li>
                        <img class="img_mv_list" src="{{ asset('assets/img/mv_list_04.png') }}">
                    </li>
                    <li>
                        <img class="img_mv_list" src="{{ asset('assets/img/mv_list_05.png') }}">
                    </li>
                    <li>
                        <img class="img_mv_list" src="{{ asset('assets/img/mv_list_06.png') }}">
                    </li>
                </ul>
            </div>
            <div class="search_field">
                <ul class="clearfix search_field_ul">
                    <form action="{{ path('supplier_list') }}" method="GET">
                        <li>
                            <div class="search_customize">
                                <div class="search_field_prefecture">
                                    <h3 class="prefecture_ttl_01">
                                       都道府県から探す
                                    </h3>
                                </div>
                                <div class="detail_prefecture">
                                    <div class="content_prefecture">
                                        <h3 class="pref_title">北海道</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'北海道'}) }}">北海道</a></li>
                                        </ul>
                                        <h3 class="pref_title">東北</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'青森県'}) }}">青森県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'岩手県'}) }}">岩手県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'宮城県'}) }}">宮城県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'秋田県'}) }}">秋田県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'山形県'}) }}">山形県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'福島県'}) }}">福島県</a></li>
                                        </ul>
                                        <h3 class="pref_title">関東・甲信越</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'茨城県'}) }}">茨城県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'栃木県'}) }}">栃木県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'群馬県'}) }}">群馬県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'埼玉県'}) }}">埼玉県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'千葉県'}) }}">千葉県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'東京都'}) }}">東京都</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'神奈川県'}) }}">神奈川県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'新潟県'}) }}">新潟県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'山梨県'}) }}">山梨県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'長野県'}) }}">長野県</a></li>
                                        </ul>
                                        <h3 class="pref_title">東海</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'岐阜県'}) }}">岐阜県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'静岡県'}) }}">静岡県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'愛知県'}) }}">愛知県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'三重県'}) }}">三重県</a></li>
                                        </ul>
                                        <h3 class="pref_title">北陸</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'富山県'}) }}">富山県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'石川県'}) }}">石川県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'福井県'}) }}">福井県</a></li>
                                        </ul>
                                        <h3 class="pref_title">近畿</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'滋賀県'}) }}">滋賀県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'京都府'}) }}">京都府</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'大阪府'}) }}">大阪府</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'兵庫県'}) }}">兵庫県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'奈良県'}) }}">奈良県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'和歌山県'}) }}">和歌山県</a></li>
                                        </ul>
                                        <h3 class="pref_title">中国</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'鳥取県'}) }}">鳥取県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'島根県'}) }}">島根県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'岡山県'}) }}">岡山県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'広島県'}) }}">広島県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'山口県'}) }}">山口県</a></li>
                                        </ul>
                                        <h3 class="pref_title">四国</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'徳島県'}) }}">徳島県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'香川県'}) }}">香川県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'愛媛県'}) }}">愛媛県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'高知県'}) }}">高知県</a></li>
                                        </ul>
                                        <h3 class="pref_title">九州</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'福岡県'}) }}">福岡県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'佐賀県'}) }}">佐賀県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'長崎県'}) }}">長崎県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'熊本県'}) }}">熊本県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'大分県'}) }}">大分県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'宮崎県'}) }}">宮崎県</a></li>
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'鹿児島県'}) }}">鹿児島県</a></li>
                                        </ul>
                                        <h3 class="pref_title">沖縄</h3>
                                        <ul class="pref_category_list clearfix">
                                            <li class="area_pref"><a href="{{ url('product_list', {'prefecture':'沖縄県'}) }}">沖縄県</a></li>
                                        </ul>
                                        </div>
                                </div>
                            </div>
                        </li>
                    </form>
                         <li>
                            <div class="search_customize">
                                <div class="search_field_prefecture_01">
                                    <h3 class="prefecture_ttl_01">
                                        業種から探す
                                    </h3>
                                </div>
                                <div class="detail_prefecture_01">
                                    <div class="content_prefecture">
                                        <ul class="pref_category_list clearfix">
                                        {% for category in worktypes %}
                                        <li class="area_pref"><a href="{{ url('product_list', {'category_id': category.id}) }}">{{ category.category_name }}</a></li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </form>
                </ul>
            </div>
            <div class="scroll">
                <p class="pagetop_ttl">ＳＣＲＯＬＬ</p>
                <img class="icon_arrow_down" src="{{ asset('assets/img/icon_arrow_down.png') }}">
            </div>
        </div>
    </div>
{% endblock %}